table.dijitSlider td.dijitReset{
	border: none !important;
	padding: 0 !important;
}


#pp th{
	padding: 0 5px;
	text-align: left;
}

#pp tr td{
	padding: 0 5px;
	text-align: left;
}

#weightTotals td{
	border-width: 0 1px 0 0;
	width: 200px;
}

#weightTotals td#textPropertyMatchTotal{
	border: none;
}

#pp input{
	width: 3em;
}

#pp span{
	padding: 2px 0 2px 0;
	width: 2em;
	font-weight: bold;
}

#pp tbody td{
	width: 25%;
}

#pp.validationError  span{
	color: red;
	font-weight: bold;
	background-image: url(/WebUI/images/messaging-common/icon_msgError.gif);
	background-position: center right;
	background-repeat: no-repeat;
	width: 3em;
	padding-right: 20px;
}

.totalLabel{
	text-align: right;
	font-weight: bold;
}

#weightTotals td span,
#totalTotal span{
	font-weight: bold;
	display: block;
	float: left;
	width: 3em;
	text-align:right;
}

.invalid #totalTotal{
	color: red;
}
.invalid span,
span.invalid{
color: red;
font-weight: bold;
background-image: url(/WebUI/images/messaging-common/icon_msgError.gif);
background-position: center right;
background-repeat: no-repeat;
padding-right: 20px;
}

.weightBar{
	display:block;
	float:left;
	height: 1em;
	margin-left: 10px;
}

#atg_smerch_propertyWeightSetters span.weightBar{
	background-color: #9ACBFE;
	border: 1px solid #8CA4BD;
}

#atg_smerch_basePropertyWeightSetters span.weightBar{
	background-color: #9ACBFE;
	border: 1px solid #8CA4BD;
}

#weightTotals span.weightBar{
	background-color: #3462FE;
	border: 1px solid #8C8E96;
}

#atg_smerch_propWeightAllocation .dijitSliderDisabled *{
	cursor :help !important;
}