.atgHTML_table{
   font: 11px Verdana;
   border: 1px ridge Silver;
}

.atgList_tableHead {
   text-align: left;
   background-color: #B0C4DE;
   padding-top: 4px;
   padding-bottom: 4px;
   padding-left: 4px;
   padding-right: 4px;
}

.atgList_tableHeadTitle { 
   font: bold 11px Verdana;
   color: Gray;
   cursor:text;
}

.atgList_tableHeadTitleOnClick { 
   font: bold 11px Verdana;
   cursor:pointer;
}

.atgHTML_tableRow {
   padding-left: 4px;
   padding-right: 4px;
   height: 15px;
}

.atgHTML_tableCell {
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 4px;
   padding-right: 4px;
}

.atgHTML_tableCellAlt {
   font: 11px Verdana;
   background-color: #FFFFF0;
   padding: 3px;
}

.atgHTML_tableRowShadingOff {
   font: 11px Verdana;
   background-color: #FFFFFF;
   padding: 3px;
   height: 22px;
}

.atgHTML_tableRowShadingOn {
   font: 11px Verdana;
   background-color: #EFF4F8;
   padding: 3px;
   height: 22px;
}

.atgHTML_tableCellShadingOff {
   font: bold 11px Verdana;
   background-color: #F2EAF2;
   padding: 3px;
   color: Gray;
}

.atgHTML_tableCellShadingOn {
   font: bold 11px Verdana;
   background-color: #D8BFD8;
   padding: 3px;
   color: Gray;
}

.atgContainer_div {
	position: absolute;
	z-index: 200;
	filter:progid:DXImageTransform.Microsoft.Shadow(color="#000000", Direction=135, Strength=3);
}

.atgContainer_iframe {
	position: absolute;
	z-index: 500;
}

.atgCurtain_div {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	opacity: .5;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	z-index: 100;
	position: absolute;
}

.atgCurtain_iframe {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	opacity: .5;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	z-index: 100;
	position: absolute;
}
