.dTree_highlighted      { font-size: 8pt; font-family: tahome,verdana,geneva; background-color: #6699cc; 
                    white-space:nowrap;color: White; padding-left:3px; }
.dTree_node             { font-size: 8pt; font-family: tahome,verdana,geneva; padding-left:3px;
                    white-space:nowrap;color:#0000cc;}

.dTree_dragover         { 
  font-size: 8pt; font-family: tahome,verdana,geneva; background-color: #6699cc; color: red; padding-left:3px; 
}

.dTree_controlSpace     { 
  width:14px;font-size: .01em; 
}

.tree_table_row_displayRow { 
  height:14px;
}

.tree_table_cell_icon { 
  padding-right:100px;
  background-color: "#990099"
  width:26px;
}

.dTree_label_anchor { 
  color:#3333CE; text-decoration:none;  
}

.dTree_tree_checkbox { 
  height:14px;
  width:14px;
  margin-top:3px;
  margin-left:1px;
  margin-right:3px;
}

table.dTree_tree_dotted { 
  width:98%;
  padding-right:-1px;
}

table.dTree_tree_not_dotted { 

}


.dTree_dots-branch-item { 
     background-image:url(/CAF/images/tree/tree_dvi.gif);
     padding:0px;
     padding-top:1px;
     padding-right:4px;
     background-repeat: no-repeat;
     background-position:1 2;
     /*vertical-align:top;*/
}
.dTree_dots-branch-first-item { 
     background-image:url(/CAF/images/tree/tree_dvfi.gif);
     padding-right:4px;
     background-position:1 1;
     background-repeat: no-repeat;
     /*vertical-align:top;*/
}
.dTree_dots-branch-only-item { 
     background-image:url(/CAF/images/tree/tree_dvo.gif);
     padding:0px;
     padding-top:2px;
     padding-right:5px;

     background-repeat: no-repeat;
     background-position:1 2;
     /* vertical-align:top;*/
}
.dTree_dots-branch-last-item { 
     background-image:url(/CAF/images/tree/tree_dvl.gif);
     padding:0px;
     padding-top:1px;
     padding-right:4px;
     background-position:1 2;
     background-repeat: no-repeat;
     /*vertical-align:top;*/
}
.dTree_dots-branch { 
     background-image:url(/CAF/images/tree/tree_dv.gif);
     padding:0px;
     padding-right:5px;
     background-position:1 1;
     background-repeat: repeat-y;
     vertical-align:top;
}