/*
 * This file defines the styles that are used by the registry tree.
 */
 
/* ----- Default styles ----- */

/* The default style for all elements */
body {
  background-color: #617A9C;
  margin: 0px;
  padding: 0px;
  font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  margin-left: 0;
  margin-top: 0;
}

/* Table cells, block-level elements, and inline containers */
td, div, span {
  font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #000000;
}

/* Hyperlinks */
a {
  color: #000000;
  text-decoration: none;
  border: 0px;
}

/* Foreground color for mouse-overs on hyperlinks */
a:hover {
  color: #999999;
}
 
/* ----- Custom styles ----- */

/* Body style for registryTree.jsp */
body.browseTree {
  background-color: #ffffff;
  padding-left: 2px;
}

/* An iframe that contains a registry tree */
.registryTreeFrame {
  border: solid 1px #999999;
  color: #000000;
  width: 300px;
  height: 150px;
}

/* Table cells containing opened folders in a registry tree */
.registryTreeFolderCell {
  margin-top: 11px;
  line-height: 18px;
}

/* Background color for normal items in a registry tree */
.registryTreeItem {
  background: #ffffff;
}

/* Background color for highlighted items in a registry tree */
.registryTreeHighlight {
  background: #bad8ec;
}

/* -------------------------------------------------------------------------- */
