.atgValidation_generalErrorMessage {
   font-weight: normal;
   background-color: #FFFFFF;
   color: #FF0000;
   display: none;
   padding: 6px;
}

.atgValidation_fieldErrorMessage {
	color:#FF0000;
	display:none;
	font-weight: bold;
}
