.atgContainer_div {
	position: absolute;
	z-index: 200;
	filter:progid:DXImageTransform.Microsoft.Shadow(color="#000000", Direction=135, Strength=3);
}

.atgContainer_iframe {
	position: absolute;
	z-index: 500;
}

.atgCurtain_div {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	opacity: .5;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	z-index: 100;
	position: absolute;
}

.atgCurtain_iframe {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	width: 100%;
	height: 100%;
	background-color: #CCCCCC;
	opacity: .5;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	z-index: 100;
	position: absolute;
}

.atgCalendar_divHide {
	display: none;
	position: absolute;
	z-index: 10;
}

.atgCalendar_divShow {
	display: block;	
	position: absolute;
	z-index: 200;
	filter:progid:DXImageTransform.Microsoft.Shadow(color="#000000", Direction=135, Strength=3);
}

.atgCalendar_container {
	width: 210px;
	z-index: 200;
}

.atgCalendar_monthContainer {
   background-image: url(../images/calendar/sidecolumnheader.gif);
   text-align: center;
   padding-left: 6px;
   padding-right: 6px;
}

.atgCalendar_previousMonthRow {
	width: 50%;
	empty-cells: show;
	text-align: left;
	white-space: nowrap;
}

.atgCalendar_monthRow {
   vertical-align: top;
}

.atgCalendar_nextMonthRow {
	width: 50%;
	empty-cells: show;
	text-align: right;
	white-space: nowrap;
}

.atgCalendar_dateLabels  {
   font-family: "Trebuchet MS";
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   height: 20px;
   vertical-align: bottom;
}

.atgCalendar_dateLabelsWeekend  {
	font-family: "Trebuchet MS";
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #1964C5;
   height: 20px;
	vertical-align: bottom;
}

.atgCalendar_numerics  {
	height: 15px;
   width: 14%;
   font-family: Verdana;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: hand;
}

.atgCalendar_numericsWeekend  {
	height: 15px;
   width: 14%;
	font-family: Verdana;
	font-size: 10px;
	text-align: center;
	color: #1964C5;
	vertical-align: middle;
	cursor: hand;
}

.atgCalendar_numericsWeekendToday  {
	height: 15px;
   width: 14%;
	font-family: Verdana;
	font-size: 10px;
	text-align: center;
	color: #1964C5;
	vertical-align: middle;
	cursor: hand;
	border: 1px;
	border-style: solid;
	border-color: #6666CC;
}

.atgCalendar_numericsToday  {
	height: 15px;
   width: 14%;
	font-family: Verdana;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	cursor: hand;
	border: 1px;
	border-style: solid;
	border-color: #557AA1;
}

.atgCalendar_numericsSelected  {
   height: 15px;
   width: 14%;
   font-family: Verdana;
   font-size: 10px;
   text-align: center;
   border: 1px;
   border-style: solid;
   border-color: #557AA1;
   background-color: #6699CC;
   cursor: hand;
}

.atgCalendar_numericsOff  {
	width: 14%;
   font-family: Verdana;
	color: #CCCCCC;
	font-size: 10px;
	text-align: center;
}

.atgCalendar_borderTopLeft {
	background-repeat: repeat-y;
	background-position: left;
	background-color: #CCCCCC;
	width: 1px;
	height: 1px;
	empty-cells: show;
}

.atgCalendar_borderTopMiddle {
	background-repeat: repeat-x;
	background-color: #CCCCCC;
	width: 100%;
	height: 1px;
	empty-cells: show;
}

.atgCalendar_borderTopRight {
	background-repeat: repeat-y;
	background-position: right;
	background-color: #CCCCCC;
	width: 1px;
	height: 1px;
	empty-cells: show;
}

.atgCalendar_borderBottomLeft {
	background-repeat: no-repeat;
	background-position: left;
	background-color: #CCCCCC;
	width: 1px;
	height: 1px;
	empty-cells: show;
}

.atgCalendar_borderBottomMiddle {
	background-repeat: repeat-x;
	background-color: #CCCCCC;
	width: 100%;
	height: 1px;
	empty-cells: show;
}

.atgCalendar_borderBottomRight {
	background-repeat: no-repeat;
	background-position: right;
	background-color: #CCCCCC;
	width: 1px;
	height: 1px;
	empty-cells: show;
}

.atgCalendar_left {
	background-repeat: repeat-y;
	background-color: #CCCCCC;
	width: 1px;
	height: 100%;
	empty-cells: show;
}

.atgCalendar_middle {
   background-color: #F0F0F0;
   border: 1px solid #CCCCCC;
}

.atgCalendar_right {
	background-repeat: repeat-y;
	background-color: #CCCCCC;
	width: 1px;
	height: 100%;
	empty-cells: show;
}

.atgCalendar_bottomSpacer{
	height: 5px;
	empty-cells: show;
}

.atgCalendar_cursor  {
	cursor: hand;
}

.atgCalendar_text  {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #6666CC;
}

.atgCalendar_titleText  {
	font-family: "Trebuchet MS";
	font-weight: bold;
	font-size: 12px;
	color: #000000;
	text-align: top;
}

.atgCalendar_previousMonthIcon {
	background-image: url(../images/calendar/arrow_left.gif);
	width: 15px;
   height: 17px;
  background-repeat: no-repeat;
  background-position: left 1px;
	cursor: pointer;
}

.atgCalendar_nextMonthIcon {
	background-image: url(../images/calendar/arrow_right.gif);
	width: 15px;
   height: 17px;
  background-repeat: no-repeat;
	background-position: right 1px;
	cursor: pointer;
}

.atgCalendar_closeIcon {
	0background-image: url(../images/calendar/close.gif);
	0background-repeat: no-repeat;
	0background-position: right center;
	0height: 10px;
	0width: 10px;
	cursor: pointer;
}

.atgCalendar_todayIcon {
	0background-image: url(../images/calendar/calendar2_off.gif);
	0background-repeat: no-repeat;
	0background-position: left center;
	0height: 10px;
	0width: 20px;
	cursor: pointer;
}

.atgCalendar_additionalTodayRow {
	width: 50%;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-size: 10px;
	color: #1964C5;
	padding-left: 8px;
	padding-top: 8px;
}

.atgCalendar_additionalCloseRow {
	width:50%;
	text-align: right;
	font-family: "Trebuchet MS";
	font-weight: normal;
	font-size: 10px;
	color: #1964C5;
	padding-right: 10px;
	padding-top: 8px;
}