@import url(cssModules/foundation.css);
@import url(cssModules/topNavigationTabs.css);
@import url(cssModules/dataTable.css);
@import url(cssModules/tableIcons.css);
@import url(cssModules/formVerticalList.css);
@import url(cssModules/pagination.css);
@import url(cssModules/dataForm.css);

body{
  padding: 15px;
}
h1{
  font-size: 2em;
  margin-top: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
h2{
  font-size: 1.7em;
  margin: 20px 0 15px 0;
  color: #000;
  clear: left;
}
  
