body {
 font: 75% Arial, Verdana, Helvetica, sans-serif;
 margin: 0px;
 padding: 0px;
 line-height:  13px;
 overflow: hidden;
}

a{
 text-decoration: none;
}

a:hover{
 text-decoration: underline;
}


/* Logo Header
------------------------------------------------------------------------------*/

#globalHeader {
 margin:0;
 font-size:0.8em;
 }
#logoHeader {
 height:35px;
 background:url(../images/bg_logoHeader.jpg) repeat 0 0;
 }
#logoHeaderLeft {
 padding:9px 0px 0px 70px;
 height:35px !important;
 height:26px;
 background:url(../images/bg_logoHeaderLeft.jpg) no-repeat left top;
 }
#logoHeaderRight {
 float:right;
 padding:15px 8px 0px 8px;
 width:400px;
 height:15px !important;
 height:20px;
 background:url(../images/bg_logoHeaderRight.jpg) no-repeat right top;
 font-size:1em;
 text-align:right;
 text-transform:inherit;
 color:#fff;
 }
#logoHeaderRight span {
 padding:0 5px 0 5px;
 color:#FFF;
 }
#logoHeaderRight a {
 color:#fff;
/*     padding-left:16px;*/
 }
#logoHeaderRight a.home:link,
#logoHeaderRight a.home:visited {
 background:url(../images/icon_bccHome_off.gif) no-repeat left top;
 }
#logoHeaderRight a.home:hover,
#logoHeaderRight a.home:active {
 color:#ff0;
 }
#logoHeaderRight a.logout:link,
#logoHeaderRight a.logout:visited  {
 background:url(../images/icon_logout_off.gif) no-repeat left center;
 }
#logoHeaderRight a.logout:hover,
#logoHeaderRight a.logout:active {
 color:#ff0;
 }
#logoHeader h1 {
 margin:0;
 padding:5px 0 0 0;
 font-size:1.3em;
 color:#fff;
 background-color:transparent;
 }
#userSelect {
 font-size:1em;
}
#siteSelect {
 font-size:1em;
}
