/*
 * CSS containing default styles for WebUI pages.
 * 
 * @version $Id: //product/WebUI/version/10.0.3/src/web-apps/WebUI/css/styles.css#2 $$Change: 651448 $
 * @updated $DateTime: 2011/06/07 13:55:45 $$Author: rbarbier $
 */

body {
  margin: 0;
  padding: 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 70%;
}

/* @version $Id: //product/WebUI/version/10.0.3/src/web-apps/WebUI/css/styles.css#2 $$Change: 651448 $ */
