<LanguageConfig>
<Language enabled="false">
  <Name main="true" display="true">Arabic</Name>
  <Name main="false" display="false">ar</Name>
  <LexiconFile>Arabic/lex.obj</LexiconFile>
  <RuleBaseFile>Arabic/rb.obj</RuleBaseFile>
  <TermWeightFile>Arabic/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Basque</Name>
  <Name main="false" display="false">eu</Name>
  <LexiconFile>Basque/lex.obj</LexiconFile>
  <RuleBaseFile>Basque/rb.obj</RuleBaseFile>
  <TermWeightFile>Basque/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Bokmal</Name>
  <Name main="false" display="false">nb</Name>
  <Name main="false" display="false">Norwegian</Name>
  <Name main="false" display="false">no</Name>
  <LexiconFile>Bokmal/lex.obj</LexiconFile>
  <RuleBaseFile>Bokmal/rb.obj</RuleBaseFile>
  <TermWeightFile>Bokmal/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <BridgeFile target="Danish">Bokmal/Bridges/nbdaExpansions.obj</BridgeFile>
  <BridgeFile target="English">Bokmal/Bridges/nbenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Bokmal/Bridges/nbenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">Bokmal/Bridges/nbesExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">Bokmal/Bridges/nbitExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese">Bokmal/Bridges/nbptExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese (Brazil)">Bokmal/Bridges/nbptExpansions.obj</BridgeFile>
  <BridgeFile target="Swedish">Bokmal/Bridges/nbsvExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">Bokmal/Bridges/nbzhExpansions.obj</BridgeFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Bulgarian</Name>
  <Name main="false" display="false">bg</Name>
  <LexiconFile>Bulgarian/lex.obj</LexiconFile>
  <RuleBaseFile>Bulgarian/rb.obj</RuleBaseFile>
  <TermWeightFile>Bulgarian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Catalan</Name>
  <Name main="false" display="true">Valenciano</Name>
  <Name main="false" display="false">ca</Name>
  <LexiconFile>Catalan/lex.obj</LexiconFile>
  <RuleBaseFile>Catalan/rb.obj</RuleBaseFile>
  <TermWeightFile>Catalan/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <!-- <BridgeFile target="Danish">Catalan/Bridges/cadaExpansions.obj</BridgeFile> -->
  <!-- <BridgeFile target="English">Catalan/Bridges/caenExpansions.obj</BridgeFile> -->
  <!-- <BridgeFile target="English (United Kingdom)">Catalan/Bridges/caenExpansions.obj</BridgeFile> -->
  <!-- <BridgeFile target="Spanish">Catalan/Bridges/caesExpansions.obj</BridgeFile> -->
  <!-- <BridgeFile target="Italian">Catalan/Bridges/caitExpansions.obj</BridgeFile> -->
  <!-- <BridgeFile target="Portuguese">Catalan/Bridges/captExpansions.obj</BridgeFile> -->
  <!-- <BridgeFile target="Portuguese (Brazil)">Catalan/Bridges/captExpansions.obj</BridgeFile> -->
  <!-- <BridgeFile target="Swedish">Catalan/Bridges/casvExpansions.obj</BridgeFile> -->
  <!-- <BridgeFile target="Chinese">Catalan/Bridges/cazhExpansions.obj</BridgeFile> -->
  <AdaptorFile name="computer">Catalan/Adaptors/computer.obj</AdaptorFile>
  <AdaptorFile name="food">Catalan/Adaptors/food.obj</AdaptorFile>
  <AdaptorFile name="healthcare">Catalan/Adaptors/healthcare.obj</AdaptorFile>
  <AdaptorFile name="housewares">Catalan/Adaptors/housewares.obj</AdaptorFile>
  <AdaptorFile name="personal_care">Catalan/Adaptors/personal_care.obj</AdaptorFile>
  <AdaptorFile name="toys">Catalan/Adaptors/toys.obj</AdaptorFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Chinese</Name>
  <Name main="false" display="true">Chinese (Traditional)</Name>
  <Name main="false" display="true">Chinese (Simplified)</Name>
  <Name main="false" display="false">zh</Name>
  <LexiconFile>Chinese/lex.obj</LexiconFile>
  <RuleBaseFile>Chinese/rb.obj</RuleBaseFile>
  <TermWeightFile>Chinese/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <BridgeFile target="English">Chinese/Bridges/zhenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Chinese/Bridges/zhenExpansions.obj</BridgeFile>
  <AdaptorFile name="HR">Chinese/Adaptors/HR.obj</AdaptorFile>
  <AdaptorFile name="aerospace">Chinese/Adaptors/aerospace.obj</AdaptorFile>
  <AdaptorFile name="business">Chinese/Adaptors/business.obj</AdaptorFile>
  <AdaptorFile name="computer">Chinese/Adaptors/computer.obj</AdaptorFile>
  <AdaptorFile name="financial">Chinese/Adaptors/financial.obj</AdaptorFile>
  <AdaptorFile name="healthcare">Chinese/Adaptors/healthcare.obj</AdaptorFile>
  <AdaptorFile name="insurance">Chinese/Adaptors/insurance.obj</AdaptorFile>
  <AdaptorFile name="legal">Chinese/Adaptors/legal.obj</AdaptorFile>
  <AdaptorFile name="manufacturing">Chinese/Adaptors/manufacturing.obj</AdaptorFile>
  <AdaptorFile name="retail">Chinese/Adaptors/retail.obj</AdaptorFile>
  <AdaptorFile name="telecommunications">Chinese/Adaptors/telecommunications.obj</AdaptorFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Croatian</Name>
  <Name main="false" display="false">hr</Name>
  <LexiconFile>Croatian/lex.obj</LexiconFile>
  <RuleBaseFile>Croatian/rb.obj</RuleBaseFile>
  <TermWeightFile>Croatian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Czech</Name>
  <Name main="false" display="false">cs</Name>
  <LexiconFile>Czech/lex.obj</LexiconFile>
  <RuleBaseFile>Czech/rb.obj</RuleBaseFile>
  <TermWeightFile>Czech/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <AdaptorFile name="food">Czech/Adaptors/food.obj</AdaptorFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Danish</Name>
  <Name main="false" display="false">da</Name>
  <LexiconFile>Danish/lex.obj</LexiconFile>
  <RuleBaseFile>Danish/rb.obj</RuleBaseFile>
  <TermWeightFile>Danish/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <BridgeFile target="English">Danish/Bridges/daenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Danish/Bridges/daenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">Danish/Bridges/daesExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">Danish/Bridges/daitExpansions.obj</BridgeFile>
  <BridgeFile target="Bokmal">Danish/Bridges/danbExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese">Danish/Bridges/daptExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese (Brazil)">Danish/Bridges/daptExpansions.obj</BridgeFile>
  <BridgeFile target="Swedish">Danish/Bridges/dasvExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">Danish/Bridges/dazhExpansions.obj</BridgeFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Dutch</Name>
  <Name main="false" display="false">nl</Name>
  <LexiconFile>Dutch/lex.obj</LexiconFile>
  <RuleBaseFile>Dutch/rb.obj</RuleBaseFile>
  <TermWeightFile>Dutch/termWeights.xml</TermWeightFile>
  <SpellFile>Dutch/Spelling/sscedu2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="German">Dutch/Bridges/nldeExpansions.obj</BridgeFile>
  <BridgeFile target="English">Dutch/Bridges/nlenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Dutch/Bridges/nlenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">Dutch/Bridges/nlesExpansions.obj</BridgeFile>
  <BridgeFile target="French">Dutch/Bridges/nlfrExpansions.obj</BridgeFile>
  <BridgeFile target="French (Canada)">Dutch/Bridges/nlfrExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">Dutch/Bridges/nlitExpansions.obj</BridgeFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true">English</Name>
  <Name main="false" display="true">English (United States)</Name>
  <Name main="false" display="false">en</Name>
  <Name main="false" display="false">en_us</Name>
  <LexiconFile>English/lex.obj</LexiconFile>
  <RuleBaseFile>English/rb.obj</RuleBaseFile>
  <TermWeightFile>English/termWeights.xml</TermWeightFile>
  <SpellFile>English/Spelling/ssceam2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="Danish">English/Bridges/endaExpansions.obj</BridgeFile>
  <BridgeFile target="German">English/Bridges/endeExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">English/Bridges/enesExpansions.obj</BridgeFile>
  <BridgeFile target="French">English/Bridges/enfrExpansions.obj</BridgeFile>
  <BridgeFile target="French (Canada)">English/Bridges/enfrExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">English/Bridges/enitExpansions.obj</BridgeFile>
  <BridgeFile target="Japanese">English/Bridges/enjaExpansions.obj</BridgeFile>
  <BridgeFile target="Bokmal">English/Bridges/ennbExpansions.obj</BridgeFile>
  <BridgeFile target="Dutch">English/Bridges/ennlExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese">English/Bridges/enptExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese (Brazil)">English/Bridges/enptExpansions.obj</BridgeFile>
  <BridgeFile target="Swedish">English/Bridges/ensvExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">English/Bridges/enzhExpansions.obj</BridgeFile>
  <AdaptorFile name="HR">English/Adaptors/HR.obj</AdaptorFile>
  <AdaptorFile name="aerospace">English/Adaptors/aerospace.obj</AdaptorFile>
  <AdaptorFile name="airlines">English/Adaptors/airlines.obj</AdaptorFile>
  <AdaptorFile name="apparel">English/Adaptors/apparel.obj</AdaptorFile>
  <AdaptorFile name="appliances">English/Adaptors/appliances.obj</AdaptorFile>
  <AdaptorFile name="automotive">English/Adaptors/automotive.obj</AdaptorFile>
  <AdaptorFile name="business">English/Adaptors/business.obj</AdaptorFile>
  <AdaptorFile name="computer">English/Adaptors/computer.obj</AdaptorFile>
  <AdaptorFile name="cooking">English/Adaptors/cooking.obj</AdaptorFile>
  <AdaptorFile name="crafts">English/Adaptors/crafts.obj</AdaptorFile>
  <AdaptorFile name="ecommerce">English/Adaptors/ecommerce.obj</AdaptorFile>
  <AdaptorFile name="financial">English/Adaptors/financial.obj</AdaptorFile>
  <AdaptorFile name="food">English/Adaptors/food.obj</AdaptorFile>
  <AdaptorFile name="healthcare">English/Adaptors/healthcare.obj</AdaptorFile>
  <AdaptorFile name="hotels">English/Adaptors/hotels.obj</AdaptorFile>
  <AdaptorFile name="housewares">English/Adaptors/housewares.obj</AdaptorFile>
  <AdaptorFile name="insurance">English/Adaptors/insurance.obj</AdaptorFile>
  <AdaptorFile name="jewelry">English/Adaptors/jewelry.obj</AdaptorFile>
  <AdaptorFile name="legal">English/Adaptors/legal.obj</AdaptorFile>
  <AdaptorFile name="manufacturing">English/Adaptors/manufacturing.obj</AdaptorFile>
  <AdaptorFile name="media">English/Adaptors/media.obj</AdaptorFile>
  <AdaptorFile name="personal_care">English/Adaptors/personal_care.obj</AdaptorFile>
  <AdaptorFile name="pets">English/Adaptors/pets.obj</AdaptorFile>
  <AdaptorFile name="pharmaceuticals">English/Adaptors/pharmaceuticals.obj</AdaptorFile>
  <AdaptorFile name="sports_outdoors">English/Adaptors/sports_outdoors.obj</AdaptorFile>
  <AdaptorFile name="telecommunications">English/Adaptors/telecommunications.obj</AdaptorFile>
  <AdaptorFile name="tools">English/Adaptors/tools.obj</AdaptorFile>
  <AdaptorFile name="toys">English/Adaptors/toys.obj</AdaptorFile>
  <AdaptorFile name="yard_garden">English/Adaptors/yard_garden.obj</AdaptorFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true" base="English">English (United Kingdom)</Name>
  <Name main="false" display="false">en_gb</Name>
  <LexiconFile>EnglishUK/lex.obj</LexiconFile>
  <RuleBaseFile>EnglishUK/rb.obj</RuleBaseFile>
  <TermWeightFile>EnglishUK/termWeights.xml</TermWeightFile>
  <SpellFile>EnglishUK/Spelling/sscebr2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="Danish">English/Bridges/endaExpansions.obj</BridgeFile>
  <BridgeFile target="German">English/Bridges/endeExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">English/Bridges/enesExpansions.obj</BridgeFile>
  <BridgeFile target="French">English/Bridges/enfrExpansions.obj</BridgeFile>
  <BridgeFile target="French (Canada)">English/Bridges/enfrExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">English/Bridges/enitExpansions.obj</BridgeFile>
  <BridgeFile target="Japanese">English/Bridges/enjaExpansions.obj</BridgeFile>
  <BridgeFile target="Bokmal">English/Bridges/ennbExpansions.obj</BridgeFile>
  <BridgeFile target="Dutch">English/Bridges/ennlExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese">English/Bridges/enptExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese (Brazil)">English/Bridges/enptExpansions.obj</BridgeFile>
  <BridgeFile target="Swedish">English/Bridges/ensvExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">English/Bridges/enzhExpansions.obj</BridgeFile>
  <AdaptorFile name="HR">English/Adaptors/HR.obj</AdaptorFile>
  <AdaptorFile name="aerospace">English/Adaptors/aerospace.obj</AdaptorFile>
  <AdaptorFile name="airlines">English/Adaptors/airlines.obj</AdaptorFile>
  <AdaptorFile name="apparel">English/Adaptors/apparel.obj</AdaptorFile>
  <AdaptorFile name="appliances">English/Adaptors/appliances.obj</AdaptorFile>
  <AdaptorFile name="automotive">English/Adaptors/automotive.obj</AdaptorFile>
  <AdaptorFile name="business">English/Adaptors/business.obj</AdaptorFile>
  <AdaptorFile name="computer">English/Adaptors/computer.obj</AdaptorFile>
  <AdaptorFile name="cooking">English/Adaptors/cooking.obj</AdaptorFile>
  <AdaptorFile name="crafts">English/Adaptors/crafts.obj</AdaptorFile>
  <AdaptorFile name="ecommerce">English/Adaptors/ecommerce.obj</AdaptorFile>
  <AdaptorFile name="financial">English/Adaptors/financial.obj</AdaptorFile>
  <AdaptorFile name="food">English/Adaptors/food.obj</AdaptorFile>
  <AdaptorFile name="healthcare">English/Adaptors/healthcare.obj</AdaptorFile>
  <AdaptorFile name="hotels">English/Adaptors/hotels.obj</AdaptorFile>
  <AdaptorFile name="housewares">English/Adaptors/housewares.obj</AdaptorFile>
  <AdaptorFile name="insurance">English/Adaptors/insurance.obj</AdaptorFile>
  <AdaptorFile name="jewelry">English/Adaptors/jewelry.obj</AdaptorFile>
  <AdaptorFile name="legal">English/Adaptors/legal.obj</AdaptorFile>
  <AdaptorFile name="manufacturing">English/Adaptors/manufacturing.obj</AdaptorFile>
  <AdaptorFile name="media">English/Adaptors/media.obj</AdaptorFile>
  <AdaptorFile name="personal_care">English/Adaptors/personal_care.obj</AdaptorFile>
  <AdaptorFile name="pets">English/Adaptors/pets.obj</AdaptorFile>
  <AdaptorFile name="pharmaceuticals">English/Adaptors/pharmaceuticals.obj</AdaptorFile>
  <AdaptorFile name="sports_outdoors">English/Adaptors/sports_outdoors.obj</AdaptorFile>
  <AdaptorFile name="telecommunications">English/Adaptors/telecommunications.obj</AdaptorFile>
  <AdaptorFile name="tools">English/Adaptors/tools.obj</AdaptorFile>
  <AdaptorFile name="toys">English/Adaptors/toys.obj</AdaptorFile>
  <AdaptorFile name="yard_garden">English/Adaptors/yard_garden.obj</AdaptorFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Estonian</Name>
  <Name main="false" display="false">et</Name>
  <LexiconFile>Estonian/lex.obj</LexiconFile>
  <RuleBaseFile>Estonian/rb.obj</RuleBaseFile>
  <TermWeightFile>Estonian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Finnish</Name>
  <Name main="false" display="false">fi</Name>
  <LexiconFile>Finnish/lex.obj</LexiconFile>
  <RuleBaseFile>Finnish/rb.obj</RuleBaseFile>
  <TermWeightFile>Finnish/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="true">
  <Name main="true" display="true">French</Name>
  <Name main="false" display="true">French (France)</Name>
  <Name main="false" display="false">fr</Name>
  <Name main="false" display="false">fr_fr</Name>
  <LexiconFile>French/lex.obj</LexiconFile>
  <RuleBaseFile>French/rb.obj</RuleBaseFile>
  <TermWeightFile>French/termWeights.xml</TermWeightFile>
  <SpellFile>French/Spelling/sscefr2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="German">French/Bridges/frdeExpansions.obj</BridgeFile>
  <BridgeFile target="English">French/Bridges/frenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">French/Bridges/frenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">French/Bridges/fresExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">French/Bridges/fritExpansions.obj</BridgeFile>
  <BridgeFile target="Dutch">French/Bridges/frnlExpansions.obj</BridgeFile>
</Language>
<Language enabled="true">
  <!-- Exact same data as French so far -->
  <Name main="true" display="true" base="French">French (Canada)</Name>
  <Name main="false" display="false">fr_ca</Name>
  <LexiconFile>French/lex.obj</LexiconFile>
  <RuleBaseFile>French/rb.obj</RuleBaseFile>
  <TermWeightFile>French/termWeights.xml</TermWeightFile>
  <SpellFile>French/Spelling/sscefr2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="German">French/Bridges/frdeExpansions.obj</BridgeFile>
  <BridgeFile target="English">French/Bridges/frenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">French/Bridges/frenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">French/Bridges/fresExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">French/Bridges/fritExpansions.obj</BridgeFile>
  <BridgeFile target="Dutch">French/Bridges/frnlExpansions.obj</BridgeFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true">German</Name>
  <Name main="false" display="false">de</Name>
  <LexiconFile>German/lex.obj</LexiconFile>
  <RuleBaseFile>German/rb.obj</RuleBaseFile>
  <TermWeightFile>German/termWeights.xml</TermWeightFile>
  <SpellFile>German/Spelling/sscegn2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="English">German/Bridges/deenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">German/Bridges/deenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">German/Bridges/deesExpansions.obj</BridgeFile>
  <BridgeFile target="French">German/Bridges/defrExpansions.obj</BridgeFile>
  <BridgeFile target="French (Canada)">German/Bridges/defrExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">German/Bridges/deitExpansions.obj</BridgeFile>
  <BridgeFile target="Dutch">German/Bridges/denlExpansions.obj</BridgeFile>
  <AdaptorFile name="animal">German/Adaptors/animal.obj</AdaptorFile>
  <AdaptorFile name="cooking">German/Adaptors/cooking.obj</AdaptorFile>
  <AdaptorFile name="food">German/Adaptors/food.obj</AdaptorFile>
  <AdaptorFile name="medical">German/Adaptors/medical.obj</AdaptorFile>
  <AdaptorFile name="telecommunications">German/Adaptors/telecommunications.obj</AdaptorFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Greek</Name>
  <Name main="false" display="false">el</Name>
  <LexiconFile>Greek/lex.obj</LexiconFile>
  <RuleBaseFile>Greek/rb.obj</RuleBaseFile>
  <TermWeightFile>Greek/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Galician</Name>
  <Name main="false" display="false">gl</Name>
  <LexiconFile>Galician/lex.obj</LexiconFile>
  <RuleBaseFile>Galician/rb.obj</RuleBaseFile>
  <TermWeightFile>Galician/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Hebrew</Name>
  <Name main="false" display="false">he</Name>
  <LexiconFile>Hebrew/lex.obj</LexiconFile>
  <RuleBaseFile>Hebrew/rb.obj</RuleBaseFile>
  <TermWeightFile>Hebrew/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Hungarian</Name>
  <Name main="false" display="false">hu</Name>
  <LexiconFile>Hungarian/lex.obj</LexiconFile>
  <RuleBaseFile>Hungarian/rb.obj</RuleBaseFile>
  <TermWeightFile>Hungarian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Icelandic</Name>
  <Name main="false" display="false">is</Name>
  <LexiconFile>Icelandic/lex.obj</LexiconFile>
  <RuleBaseFile>Icelandic/rb.obj</RuleBaseFile>
  <TermWeightFile>Icelandic/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Bahasa Indonesia</Name>
  <Name main="false" display="true">Indonesian</Name>
  <Name main="false" display="false">id</Name>
  <LexiconFile>Indonesian/lex.obj</LexiconFile>
  <RuleBaseFile>Indonesian/rb.obj</RuleBaseFile>
  <TermWeightFile>Indonesian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Italian</Name>
  <Name main="false" display="false">it</Name>
  <LexiconFile>Italian/lex.obj</LexiconFile>
  <RuleBaseFile>Italian/rb.obj</RuleBaseFile>
  <TermWeightFile>Italian/termWeights.xml</TermWeightFile>
  <SpellFile>Italian/Spelling/ssceit2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="Danish">Italian/Bridges/itdaExpansions.obj</BridgeFile>
  <BridgeFile target="German">Italian/Bridges/itdeExpansions.obj</BridgeFile>
  <BridgeFile target="English">Italian/Bridges/itenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Italian/Bridges/itenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">Italian/Bridges/itesExpansions.obj</BridgeFile>
  <BridgeFile target="French">Italian/Bridges/itfrExpansions.obj</BridgeFile>
  <BridgeFile target="French (Canada)">Italian/Bridges/itfrExpansions.obj</BridgeFile>
  <BridgeFile target="Bokmal">Italian/Bridges/itnbExpansions.obj</BridgeFile>
  <BridgeFile target="Dutch">Italian/Bridges/itnlExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese">Italian/Bridges/itptExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese (Brazil)">Italian/Bridges/itptExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">Italian/Bridges/itzhExpansions.obj</BridgeFile>
  <AdaptorFile name="apparel">Italian/Adaptors/apparel.obj</AdaptorFile>
  <AdaptorFile name="computer">Italian/Adaptors/computer.obj</AdaptorFile>
  <AdaptorFile name="food">Italian/Adaptors/food.obj</AdaptorFile>
  <AdaptorFile name="healthcare">Italian/Adaptors/healthcare.obj</AdaptorFile>
  <AdaptorFile name="medical">Italian/Adaptors/medical.obj</AdaptorFile>
  <AdaptorFile name="personal_care">Italian/Adaptors/personal_care.obj</AdaptorFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Japanese</Name>
  <Name main="false" display="false">ja</Name>
  <LexiconFile>Japanese/lex.obj</LexiconFile>
  <RuleBaseFile>Japanese/rb.obj</RuleBaseFile>
  <TermWeightFile>Japanese/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <BridgeFile target="English">Japanese/Bridges/jaenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Japanese/Bridges/jaenExpansions.obj</BridgeFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Korean</Name>
  <Name main="false" display="false">ko</Name>
  <LexiconFile>Korean/lex.obj</LexiconFile>
  <RuleBaseFile>Korean/rb.obj</RuleBaseFile>
  <TermWeightFile>Korean/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Latvian</Name>
  <Name main="false" display="false">lv</Name>
  <LexiconFile>Latvian/lex.obj</LexiconFile>
  <RuleBaseFile>Latvian/rb.obj</RuleBaseFile>
  <TermWeightFile>Latvian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Lithuanian</Name>
  <Name main="false" display="false">lt</Name>
  <LexiconFile>Lithuanian/lex.obj</LexiconFile>
  <RuleBaseFile>Lithuanian/rb.obj</RuleBaseFile>
  <TermWeightFile>Lithuanian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Nynorsk</Name>
  <Name main="false" display="false">nn</Name>
  <LexiconFile>Nynorsk/lex.obj</LexiconFile>
  <RuleBaseFile>Nynorsk/rb.obj</RuleBaseFile>
  <TermWeightFile>Nynorsk/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Other</Name>
  <LexiconFile>Other/lex.obj</LexiconFile>
  <RuleBaseFile>Other/rb.obj</RuleBaseFile>
  <TermWeightFile>Other/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Polish</Name>
  <Name main="false" display="false">pl</Name>
  <LexiconFile>Polish/lex.obj</LexiconFile>
  <RuleBaseFile>Polish/rb.obj</RuleBaseFile>
  <TermWeightFile>Polish/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <AdaptorFile name="book">Polish/Adaptors/book.obj</AdaptorFile>
  <AdaptorFile name="computer">Polish/Adaptors/computer.obj</AdaptorFile>
  <AdaptorFile name="food">Polish/Adaptors/food.obj</AdaptorFile>
  <AdaptorFile name="medical">Polish/Adaptors/medical.obj</AdaptorFile>
  <AdaptorFile name="properNames">Polish/Adaptors/properNames.obj</AdaptorFile>
  <AdaptorFile name="yard_garden">Polish/Adaptors/yard_garden.obj</AdaptorFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Portuguese</Name>
  <Name main="false" display="true">Portuguese (Portugual)</Name>
  <Name main="false" display="false">pt</Name>
  <Name main="false" display="false">pt_pt</Name>
  <LexiconFile>Portuguese/lex.obj</LexiconFile>
  <RuleBaseFile>Portuguese/rb.obj</RuleBaseFile>
  <TermWeightFile>Portuguese/termWeights.xml</TermWeightFile>
  <SpellFile>Portuguese/Spelling/sscepo2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="Danish">Portuguese/Bridges/ptdaExpansions.obj</BridgeFile>
  <BridgeFile target="English">Portuguese/Bridges/ptenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Portuguese/Bridges/ptenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">Portuguese/Bridges/ptesExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">Portuguese/Bridges/ptitExpansions.obj</BridgeFile>
  <BridgeFile target="Bokmal">Portuguese/Bridges/ptnbExpansions.obj</BridgeFile>
  <BridgeFile target="Swedish">Portuguese/Bridges/ptsvExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">Portuguese/Bridges/ptzhExpansions.obj</BridgeFile>
  <AdaptorFile name="food">Portuguese/Adaptors/food.obj</AdaptorFile>
</Language>
<Language enabled="true">
  <Name main="true" display="true" base="Portuguese">Portuguese (Brazil)</Name>
  <Name main="false" display="false">pt_br</Name>
  <LexiconFile>Portuguese/lex.obj</LexiconFile>
  <RuleBaseFile>Portuguese/rb.obj</RuleBaseFile>
  <TermWeightFile>Portuguese/termWeights.xml</TermWeightFile>
  <SpellFile>Portuguese/SpellingLocale/sscepb2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="Danish">Portuguese/Bridges/ptdaExpansions.obj</BridgeFile>
  <BridgeFile target="English">Portuguese/Bridges/ptenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Portuguese/Bridges/ptenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">Portuguese/Bridges/ptesExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">Portuguese/Bridges/ptitExpansions.obj</BridgeFile>
  <BridgeFile target="Bokmal">Portuguese/Bridges/ptnbExpansions.obj</BridgeFile>
  <BridgeFile target="Swedish">Portuguese/Bridges/ptsvExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">Portuguese/Bridges/ptzhExpansions.obj</BridgeFile>
  <AdaptorFile name="food">Portuguese/Adaptors/food.obj</AdaptorFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Romanian</Name>
  <Name main="false" display="false">ro</Name>
  <LexiconFile>Romanian/lex.obj</LexiconFile>
  <RuleBaseFile>Romanian/rb.obj</RuleBaseFile>
  <TermWeightFile>Romanian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Russian</Name>
  <Name main="false" display="false">ru</Name>
  <LexiconFile>Russian/lex.obj</LexiconFile>
  <RuleBaseFile>Russian/rb.obj</RuleBaseFile>
  <TermWeightFile>Russian/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <AdaptorFile name="apparel">Russian/Adaptors/apparel.obj</AdaptorFile>
  <AdaptorFile name="food">Russian/Adaptors/food.obj</AdaptorFile>
  <AdaptorFile name="medical">Russian/Adaptors/medical.obj</AdaptorFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Serbian</Name>
  <Name main="false" display="false">sr</Name>
  <LexiconFile>Serbian/lex.obj</LexiconFile>
  <RuleBaseFile>Serbian/rb.obj</RuleBaseFile>
  <TermWeightFile>Serbian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Slovak</Name>
  <Name main="false" display="false">sk</Name>
  <LexiconFile>Slovak/lex.obj</LexiconFile>
  <RuleBaseFile>Slovak/rb.obj</RuleBaseFile>
  <TermWeightFile>Slovak/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Slovenian</Name>
  <Name main="false" display="false">sl</Name>
  <LexiconFile>Slovenian/lex.obj</LexiconFile>
  <RuleBaseFile>Slovenian/rb.obj</RuleBaseFile>
  <TermWeightFile>Slovenian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="true">
  <Name main="true" display="true">Spanish</Name>
  <Name main="false" display="false">es</Name>
  <LexiconFile>Spanish/lex.obj</LexiconFile>
  <RuleBaseFile>Spanish/rb.obj</RuleBaseFile>
  <TermWeightFile>Spanish/termWeights.xml</TermWeightFile>
  <SpellFile>Spanish/Spelling/sscesp2.clx</SpellFile>
  <PatchFile/>
  <BridgeFile target="Danish">Spanish/Bridges/esdaExpansions.obj</BridgeFile>
  <BridgeFile target="German">Spanish/Bridges/esdeExpansions.obj</BridgeFile>
  <BridgeFile target="English">Spanish/Bridges/esenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Spanish/Bridges/esenExpansions.obj</BridgeFile>
  <BridgeFile target="French">Spanish/Bridges/esfrExpansions.obj</BridgeFile>
  <BridgeFile target="French (Canada)">Spanish/Bridges/esfrExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">Spanish/Bridges/esitExpansions.obj</BridgeFile>
  <BridgeFile target="Bokmal">Spanish/Bridges/esnbExpansions.obj</BridgeFile>
  <BridgeFile target="Dutch">Spanish/Bridges/esnlExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese">Spanish/Bridges/esptExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese (Brazil)">Spanish/Bridges/esptExpansions.obj</BridgeFile>
  <BridgeFile target="Swedish">Spanish/Bridges/essvExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">Spanish/Bridges/eszhExpansions.obj</BridgeFile>
  <AdaptorFile name="appliances">Spanish/Adaptors/appliances.obj</AdaptorFile>
  <AdaptorFile name="automotive">Spanish/Adaptors/automotive.obj</AdaptorFile>
  <AdaptorFile name="computer">Spanish/Adaptors/computer.obj</AdaptorFile>
  <AdaptorFile name="food">Spanish/Adaptors/food.obj</AdaptorFile>
  <AdaptorFile name="healthcare">Spanish/Adaptors/healthcare.obj</AdaptorFile>
  <AdaptorFile name="medical">Spanish/Adaptors/medical.obj</AdaptorFile>
  <AdaptorFile name="personal_care">Spanish/Adaptors/personal_care.obj</AdaptorFile>
  <AdaptorFile name="telecommunications">Spanish/Adaptors/telecommunications.obj</AdaptorFile>
  <AdaptorFile name="tools">Spanish/Adaptors/tools.obj</AdaptorFile>
  <AdaptorFile name="toys">Spanish/Adaptors/toys.obj</AdaptorFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Swedish</Name>
  <Name main="false" display="false">sv</Name>
  <LexiconFile>Swedish/lex.obj</LexiconFile>
  <RuleBaseFile>Swedish/rb.obj</RuleBaseFile>
  <TermWeightFile>Swedish/termWeights.xml</TermWeightFile>
  <PatchFile/>
  <BridgeFile target="Danish">Swedish/Bridges/svdaExpansions.obj</BridgeFile>
  <BridgeFile target="English">Swedish/Bridges/svenExpansions.obj</BridgeFile>
  <BridgeFile target="English (United Kingdom)">Swedish/Bridges/svenExpansions.obj</BridgeFile>
  <BridgeFile target="Spanish">Swedish/Bridges/svesExpansions.obj</BridgeFile>
  <BridgeFile target="Italian">Swedish/Bridges/svitExpansions.obj</BridgeFile>
  <BridgeFile target="Bokmal">Swedish/Bridges/svnbExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese">Swedish/Bridges/svptExpansions.obj</BridgeFile>
  <BridgeFile target="Portuguese (Brazil)">Swedish/Bridges/svptExpansions.obj</BridgeFile>
  <BridgeFile target="Chinese">Swedish/Bridges/svzhExpansions.obj</BridgeFile>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Thai</Name>
  <Name main="false" display="false">th</Name>
  <LexiconFile>Thai/lex.obj</LexiconFile>
  <RuleBaseFile>Thai/rb.obj</RuleBaseFile>
  <TermWeightFile>Thai/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Turkish</Name>
  <Name main="false" display="false">tr</Name>
  <LexiconFile>Turkish/lex.obj</LexiconFile>
  <RuleBaseFile>Turkish/rb.obj</RuleBaseFile>
  <TermWeightFile>Turkish/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Ukrainian</Name>
  <Name main="false" display="false">uk</Name>
  <LexiconFile>Ukrainian/lex.obj</LexiconFile>
  <RuleBaseFile>Ukrainian/rb.obj</RuleBaseFile>
  <TermWeightFile>Ukrainian/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
<Language enabled="false">
  <Name main="true" display="true">Vietnamese</Name>
  <Name main="false" display="false">vi</Name>
  <LexiconFile>Vietnamese/lex.obj</LexiconFile>
  <RuleBaseFile>Vietnamese/rb.obj</RuleBaseFile>
  <TermWeightFile>Vietnamese/termWeights.xml</TermWeightFile>
  <PatchFile/>
</Language>
</LanguageConfig>
