.atg_adminMainNav{
  overflow: hidden;
  border-bottom: 4px solid #CFD5DF;
  padding-left: 12px;
  padding-top: 5px;
}
.atg_adminMainNav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.atg_adminMainNav li{
  float: left;
  background: #fff url(../images/tabs/adminTabRight_off.gif) repeat-x right top;
  padding-right: 2px;
}
.atg_adminMainNav li a:link,
.atg_adminMainNav li a:visited{
  display: block;
  padding: 7px 10px;
  font-size: 1.1em;
  background: #fff url(../images/tabs/adminTab_off.gif) repeat-x left top;
}
.atg_adminMainNav li.current{
  background: #CED7DF url(../images/tabs/adminTabRight_on.gif) repeat-x right top !important;
  padding-right: 2px;
}
.atg_adminMainNav li.current a:link,
.atg_adminMainNav li.current a:visited{
  background: #CED7DF url(../images/tabs/adminTab_on.gif) repeat-x left top;
  color: #000;
}

/* Clear floats in IE */

.atg_adminMainNav,
.atg_adminMainNav ul{ 
  zoom: 1;
}
