BODY {
	background-image: url(/images/bg_top.gif);
	background-repeat: repeat-x;
	font: 9px Myriad, Verdana;
	margin: 0px;
	padding: 0px;
	line-height:  16px;
	text-align: justify;
	background-color: #DDE6ED;
}

A:Link {
	color: #000000;
	text-decoration: none;
	font-size: 11px;
	line-height:  8px;
}

A:Visited {
	color: #821F00;
	text-decoration: none;
	font-size: 11px;
	line-height:  8px;
}

A:Hover {
	color: #8D9DAE;
	text-decoration: underline;
	font-size: 11px;
	line-height:  8px;
}

A:Active {
	color: #8D9DAE;
	text-decoration: underline;
	font-size: 11px;
	line-height:  8px;
}

UL {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

H1 {
	font-size: 12px;
	font-weight: 900;
	text-decoration: none;
	color: #000000;
	margin: 0px;
	margin-top: 20px;
}

P {
	margin-top: 0px;
	margin-bottom: 0px;
	text-indent: 10px;
	text-align: justify;
}

SUP#userName {
	position: relative;
	top:-5px;
	font-size: 11px;
	white-space: nowrap;
	margin: 0px;
	padding: 0px;
	margin-top: 6px;
	padding-right: 10px;
}

SELECT {
	width: 200px;
	text-align: right;
	height: 17px;
}

#bgBrand {
	position: absolute;
	top: 0px;
	right: 0px;
}

#atgLogo {
	position: absolute;
	top: 0px;
	left: 0px;
}

#brandText{
	position: absolute;
	top: 19px;
	right: 37px;
}

#footer {
	width: 100%;
	background-repeat: repeat-x;
	background-image: url(/images/bg_bottom.gif);
	height: 23px;
}

#labelIWantTo {
	position: absolute;
	top: 56px;
}

#menuIWantTo {
	font-size: 10px;
	text-align: right;
	position: absolute;
	left: 80px;
	top: 61px;
}

#userTools {
	position: absolute;
	right: 0px;
	top: 55px;
	border-top: 1px solid #719FAB;
	padding-left: 12px;
	background-image: url(/images/bg_usertools.gif);
	background-repeat: no-repeat;
	white-space: nowrap;
	height: 28px;
}

#tasks {
	position: absolute;
	right: 0px;
	top: 124px;
	white-space: nowrap;
	height: 28px;
	width: 235px;
}

#tabs {
	width: 440px;
	position: absolute;
	right: 0px;
	top: 97px;
	padding-left: 12px;
	white-space: nowrap;
	height: 28px;
}

#contentHolder {
	position: absolute; 
	top: 157px; 
	left: 0px; 
	right: 0px; 
	bottom: 0px;
}

#mainContent {
	padding: 15px; 
	background-color: #FFF;
}

#leftShadow {
	position: absolute; 
	top: 85px;	
}

#rightShadow {
	position: absolute; 
	top: 85px;
	right: 0px;		
}

.tab {
	margin-left: -21px;	
}