html, body, #errorBody {
   height: 100%;
   margin: 0px auto;
   padding: 0px;
   border: none;
   text-align: center;
   background: url(../../../images/bg_body.gif) repeat-x left top;
   font-size: 69%;
   font-family: Arial,Helvetica,Sans-serif;
}
div#centered-error {
   border: 0;
   position: absolute;
   left: 25%;
   top: 25%;
   width: 501px;
   height: 377px;
   background: url(../../../images/BCC_login.jpg);
   background-repeat: no-repeat;
   
}div#centered-error2 {
   margin: 0px;
   padding: 0px;
   position: relative;
}
div#stacktrace {
   margin-top: 100px !important;
   font-size: 10px;
   horizontal-align: left;
}
form {
   margin: 0px;
   padding: 0px;
}
.buttonError{
   display: inline-block !important;
   padding: 2px 5px 2px 5px !important;
   background: url(../../../images/bg_button.gif) #ffffff repeat-x left bottom !important;
   border: 1px solid !important;
   border-color: #c2c6ca #a1a4a7 #a1a4a7 #c2c6ca !important;
   /*font: small-caption !important;*/
   font-weight: 600 !important;
   font-size: 15px;
   text-decoration: none !important;
   text-align: center !important;
   white-space: nowrap;
   cursor: hand;
   color: black;
}
div#errorMiddle {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 20px !important;
  color: #EB910F;
  margin-top: 200px;
  text-align: center;
}
div#errorBottom {
  margin-top: 50px;
}