/* position the whole box that contains the toggle link and the bubble*/


.positionBox
{
	text-align: left;
	clear:both;
	width: 100%;
	height: auto;
}

/* CSS for the box starts here */

	.noBox	
	{
		display: none;
	}

	.box	
	{
		margin: -14px 0px 0px 0px;
		text-align: left;
		display: block;
		padding: 0 4px 0 0;
		background-color: #FFFFCC;
		background-image: url(/atg/images/borders.gif);
		background-repeat: repeat-y;
		background-position: 100% 20px;
	}
	.bi	
	{
		padding: 0 0 0 4px;
		background-image: url(/atg/images/borders.gif);
		background-repeat: repeat-y;
		background-position: 0 0;
	
	}
	.bt	
	{
		height: 25px;
		margin: 0px -4px 0 -4px;
		font-size: 1px;
		background-image: url(/atg/images/bubble.gif);
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	.bt div	
	{
		width: 10px;
		height: 14px;
		font-size: 1px;
		/*border: solid 1px black;*/
		background-image: url(/atg/images/box.gif);
		background-repeat: no-repeat;
		background-position: right top;
		float:right;
		margin-top: 11px;
	}
	.bb {
		height:11px;
		margin:0 -4px;
		background:url(/atg/images/bubble.gif) 100% 100% no-repeat;
	}
	.bb div {
		width:11px;
		height:11px;
		background:url(/atg/images/box.gif) 0 100% no-repeat;
	}
	.box h1	
	{
		margin: 0;
		padding: 0 0 0 7px;
		background-color: #FFFFCC;
		font: bold 1.2em/1 Arial, Helvetica, sans-serif;
	}
	.box .details	
	{
		padding: 4px 5px 0px 5px;
		background-color: #FFFFCC;
	}
	
	.details p {
	padding: 10px;
	
	}
