<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="*">
    <install xmlns="">
        <product name="ATG Portal" version="10.0.3">
            <configure>false</configure>
        </product>
        <product name="ATG Adaptive Scenario Engine" version="10.0.3">
            <configure>false</configure>
        </product>
        <product name="ATG Commerce and Merchandising" version="10.0.3">
            <configure>false</configure>
        </product>
        <product name="MySQL and Demo Accounts" version="10.0.3">
            <configure>false</configure>
        </product>
        <product name="ATG Content Administration" version="10.0.3">
            <configure>false</configure>
        </product>
    </install>
    <systemEnv xmlns="">
        <platform>win32</platform>
        <jBossListenPort>8080</jBossListenPort>
        <docRoot>C:\AE10\ATG10.0.3\home\doc</docRoot>
        <locale>en</locale>
        <appServer>JBoss</appServer>
        <programFolder>C:\Documents and Settings\vamsoft\Start Menu\Programs\ATG 10.0.3</programFolder>
        <jBossVersion>5.0.1</jBossVersion>
        <jBossHome>C:\AE10\jboss-5.0.1.GA</jBossHome>
        <baseLevel>ATG10.0.3_60</baseLevel>
        <ATGJRE>C:\AE10\jdk1.6.0_18\bin\java</ATGJRE>
        <rmiPort>8860</rmiPort>
        <rootDir>C:\AE10\ATG10.0.3</rootDir>
    </systemEnv>
</config>
