/* Form Veritcal List [IE 6]
** DESCRIPTION: IE 6 specific styles for formVerticalList.css
------------------------------------------------------------------------------*/

 
/* Form Veritcal List [Core]
** DESCRIPTION: Core definition that creates a vertical list without bullets.
------------------------------------------------------------------------------*/

ul.atg_formVerticalList li{
  margin:0 0 3px 0;
  }


/* Form Veritcal List [Selection Bullets]
** DESCRIPTION: Use selection elements as bullets.
** USAGE: Typically used within a form to list multiple options in a vertical list
          and offering the ability to select between the options.
------------------------------------------------------------------------------*/

ul.atg_formVerticalList.atg_selectionBullets li {
	padding-top:3px;
}
ul.atg_formVerticalList.selectionBullets li input.atg_radioBullet,
ul.atg_formVerticalList.selectionBullets li input.atg_checkboxBullet{
  margin-left:-22px;
  margin-top:-3px;
  }


/* Form Veritcal List [Nested Elements]
** DESCRIPTION: Defines indentation rules for items nested within the list.
------------------------------------------------------------------------------*/

ul.atg_formVerticalList li ul{
  margin:10px 0 10px 30px;
  }
ul.atg_formVerticalList li .atg_dataTableActionsFooter{
  margin:5px 0 5px 15px;
  }

