/* MODULE: Pagination
   DESCRIPTION: Default global pagination structure.
------------------------------------------------------------------------------*/

 
/* Pagination [Core]
** DESCRIPTION: Core definition that creates the pagination structure.
------------------------------------------------------------------------------*/

.atg_pagination{
  width: auto;
  overflow: hidden;
	padding: 5px 0 5px 0;
	border-top: 1px solid #ccc;
}
.atg_pagination .atg_resultTotal{
  margin-top: 3px;
  margin-left: 5px;
  float: left; 
}
.atg_pagination .atg_pagingControls{
  float: right;
  height: auto;
  overflow: hidden;
  margin-right: 0px;
}
.atg_pagination .atg_pagingControls span{
  float: left;
  height: auto;
  overflow: hidden;
  margin-right: 3px;
	margin-top: 2px;
  /* IE specific values used in IE 6 stylesheet (pagination_IE6.css) */
}
.atg_pagination .atg_pagingControls input{
  font-size: .9em;
  float: left;
  margin-right: 3px;
}
.atg_pagination .atg_pagingControls a{
  display: block;
	background-image: url(../../images/icons/icons_pagination.gif);
	background-repeat: no-repeat;
	float: left;
	height: 13px;
	width: 13px;
	margin-top: 2px;
	margin-right: 3px;
	margin-left: 8px;
  /* IE specific values used in IE 6 stylesheet (pagination_IE6.css) */
}
.atg_pagination .atg_pagingControls .atg_pageBack{
	background-position: 0 50%;
  /* IE specific values used in IE 6 stylesheet (pagination_IE6.css) */
}
.atg_pagination .atg_pagingControls .atg_pageForward{
	background-position: -17px 50%;
	margin-top: 2px;
	margin-left: 3px;
  /* IE specific values used in IE 6 stylesheet (pagination_IE6.css) */
}