/* MODULE: Table Property Icons
   DESCRIPTION: Icons used typically in data table rows to perform editing.
------------------------------------------------------------------------------*/

 
/* Table Property Icon [Core]
** DESCRIPTION: Core definition of the icon.
------------------------------------------------------------------------------*/

.atg_tableIcon{
	display: block;
	width: 16px;
	height: 15px;
	margin: 0 2px 0 2px;
	background-image: url(../../images/icons/icons_dataTable.gif);
	background-repeat: no-repeat;
	text-decoration: none;
	text-indent: -99999px;
}

 
/* Individual Property Icons
** DESCRIPTION: The Individual icons that inherit from the core icon class.
------------------------------------------------------------------------------*/

.atg_propertyDelete {
	background-position: 1px 50%;
}
.atg_propertyClear {
	background-position: -16px 50%;
}
.atg_propertyCopy {
	background-position: -33px 50%;
}	
.atg_propertyEdit {
	background-position: -50px 50%;
}
.atg_propertyUp {
	background-position: -67px 50%;
}
.atg_propertyDown {
	background-position: -84px 50%;
}
