/* Top Navigation Tabs [IE 6]
   DESCRIPTION: Tabs used as a global navigation.
------------------------------------------------------------------------------*/

 
#atg_topNav li.atg_current {
	background:url(../../images/tabLeftCurrent.gif) no-repeat left top;
	}
#atg_topNav li.atg_current a:link,
#atg_topNav li.atg_current a:visited,
#atg_topNav li.atg_current a:hover,
#atg_topNav li.atg_current a:active {
	background:url(../../images/tabRightCurrent.gif) no-repeat right top;
	}
