/* MODULE: Top Navigation Tabs
   DESCRIPTION: Tabs used as a global navigation.
------------------------------------------------------------------------------*/


.atg_topNav {
	float:left;
	margin:0;
	width:100%;
	background:url(../../images/tabBottom.gif) repeat-x left bottom;
	line-height:normal;
	}
.atg_topNav ul {
	margin:0;
	padding:0 0 0 12px;
	list-style:none;
	}
.atg_topNav li {
	float:left;
	margin:0 0 0 -3px;
	padding:0 0 0 4px;
	background:url(../../images/tabLeft.gif) no-repeat left top;
	}	
.atg_topNav li a span {
	margin-left:5px;
	color:#7B8995;
	}
.atg_topNav li.current {
	position:relative;
	z-index:2;
	margin:0px -6px;
	padding:0 0 0 6px;
	background:url(../../images/tabLeftCurrent.png) no-repeat left top;
  /* IE specific values used in IE 6 stylesheet (topNavigationTabs_IE6.css) */
	}
.atg_topNav a {
	display:block;
	padding:4px 20px 3px 8px;
	background:url(../../images/tabRight.gif) no-repeat right top;
	text-decoration:none;
	}
.atg_topNav li.atg_current a:link,
.atg_topNav li.atg_current a:visited,
.atg_topNav li.atg_current a:hover,
.atg_topNav li.atg_current a:active{
	padding:5px 25px 3px 12px;
	background:url(../../images/tabRightCurrent.png) no-repeat right top; 
	color:#000;
	cursor:default;
  /* IE specific values used in IE 6 stylesheet (topNavigationTabs_IE6.css) */
	}
.atg_topNav a:link, .atg_topNav a:visited {
	color:#355779;
	}
.atg_topNav a:hover, .atg_topNav a:active {
	background:url(../../images/tabRight_on.gif) no-repeat right top;
	color:#F26A1E;
	}
