.pie {
  display: block;
  margin: 0;
  padding: 0;
  width: 11px;
  height: 11px;
  background-image: url('images/slices.png') !important;
  background-image: url('images/slices.gif');
	overflow: hidden;
}