.progressBorder{
	border-top: 1px solid #A8B3C4;
	border-bottom: 1px solid #A8B3C4;
	margin-right: 0;
	padding-right:0;
}
.progressContainer{
	font-family: arial;
	font-size: 12px;
	position: relative;
}

.progressBar{
	height: 21px;
	line-height: 21px;
	width: 0;
	background: repeat right top;
}


.progressContainer div.blue{
	background-image: url(images/barProgress_blue.gif);
}

.progressContainer div.yellow{
	background-image: url(images/barProgress_yellow.gif);
}

.progressContainer div.red{
	background-image: url(images/barProgress_red.gif);
}

.progressBar{
	text-align: right;
	border-right: 1px solid #A8B2C3;
}

.progressBar span{
	padding-right: 5px;
	font-weight: bold;
	color: #3F444C;
}

.complete .progressBar{
	background-image: url(images/barProgress_green.gif) !important;
}

.roundLeft{
  background: url(images/roundLeft.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 23px;
  z-index: 2;
}

.roundRight{
  background: url(images/roundRight.png) no-repeat;
  position: absolute;
  top: 0;
  right: -2px;
  width: 12px;
  height: 23px;
  z-index: 2;
}



* html .roundLeft{
  background: url(images/roundLeft.gif) no-repeat;
}

* html .roundRight{
  background: url(images/roundRight.gif) no-repeat;
  right: -2px;
}
