.treeNode {
  padding: 5px 0px 0px 15px;
  background-repeat: no-repeat;
  background-position: 3px 7px;

  text-decoration:none;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  color:#000000;
}
.closedTreeNode .treeNode {
  display: none;
}
/*
.openedTreeNode .treeNode {
  display: ;
}
.treeNode .openedTreeNode {
  background-image: url(../images/nav/tree_node_sub_opened.gif);
}
.treeNode .closedTreeNode {
  background-image: url(../images/nav/tree_node_sub_closed.gif);
}
.treeNode .leafTreeNode {
  background-image: url(../images/nav/tree_node_sub_leaf.gif);
}
*/
.openedTreeNode {
  background-image: url(../images/nav/tree_node_opened.gif);
}
.closedTreeNode {
  background-image: url(../images/nav/tree_node_closed.gif);
}
.leafTreeNode {
  background-image: url(../images/nav/tree_node_leaf.gif);
}
.currentTreeNode {
  font-weight: bold;
}

