html{
height: 100%;
	width: 100%;

}

body{
	font-size: 70%;
	padding: 0;
	margin: 0;
	font-family: arial, verdana, helvetica, san-serif;
	height: 100%;
	width: 100%;
	}
h4 {
	margin:0px;
	padding-left:6px;
	padding-top:7px;
	padding-bottom:3px;
	background-image:url(../images/bg_newDropDownTop.gif);	
	background-color:#BED0E8;
	font-size:1em;
	color:#fff;
	font-weight:800;
	}
	
#createNewDD h4
{
	margin: 0px;
	padding-left: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: none;
	background-color: #DBD7F1;
	font-size: 1em;
	font-weight: normal;
	color: #666;
}
	
#newDropDown {
	height:132px;
	overflow:auto;
	width:150px;
	}
#newDropDown dl {
	margin:0;
	padding:0;
	}
#newDropDown dd {
	margin:0px;
	margin-left:0;
	padding:0px;
	font-size:.9em;
	}
#newDropDown dd span.disabled
{
	display: block;
	margin: 0;
	padding-left: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: #999;
	border-width: 1px 0px 0px 0px;
	border-style: dotted;
	background-color: #e4e4e4;
	background-image: url(../images/arrow.gif);
	background-repeat: no-repeat;
	background-position: 3px 6px;
	font-weight: 600;
	text-decoration: none;
	color: #B5B5B5;
}
	
	
#newDropDown dd a,
#newDropDown dd a:link,
#newDropDown dd a:visited {
	display:block;
	margin:0;
	padding-left:12%;
	padding-top:5px;
	padding-bottom:5px;
	background-color:#EBE7F8;
	background-image:url(../images/arrow.gif);
	background-repeat:no-repeat;
	background-position:5px 50%;
	font-weight:600;
	text-decoration:none;
	color:#000;
	}
#newDropDown dd a:hover, #newDropDown dd a:active {

	background: #2A5C9F url(../images/bg_createNewHighlight.gif) repeat-x;
	color:#fff;
	outline: none;
	}
#newDropDown dd.sub a:link,
#newDropDown dd.sub a:visited {
	padding-left:16%;
	width:84%;
	background-image:url(../images/arrow.gif);
	background-repeat:no-repeat;
	background-position:10px 6px;
	}
#newDropDown dd.sub a:hover,
#newDropDown dd.sub a:active {
	background-image:url(../images/arrow_over.gif);
	}


/* APPLY TO ALL */

#newDropDownATA
{
	/*height: 132px !important;*/
	height: 200px !important;
	overflow: auto;
	width: 150px;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border: 1px solid #B9BCBF;
	background: white;
}
#newDropDownATA dl {
	margin:0;
	padding:0;
	height: 66px;
	width:100%;
	}
#newDropDownATA dd {
	margin:0px;
	margin-left:0;
	padding:0px;
	font-size:.9em;
	height: 22px;
	overflow: hidden;
	}
html>body #newDropDownATA  dd {
	width:100%;
	}
#newDropDownATA dd a,
#newDropDownATA dd a:link,
#newDropDownATA dd a:visited {
	display:block;
	margin:0;
	padding-left:28px;
	padding-top:4px;
	height: 22px;
	border-color:#999;
	background-color:#e4e4e4;
	border-width:1px 0px 0px 0px;
	border-style:dotted;
	font-weight:600;
	text-decoration:none;
	color:#036;
	overflow: hidden;
	}
#newDropDownATA dd a:hover, #newDropDownATA dd a:active {
	background-color:#d4d4d4;
	color:#369;
	}
#newDropDownATA dd.sub a:link,
#newDropDownATA dd.sub a:visited {
	padding-left:16%;
	width:84%;
	background-repeat:no-repeat;
	background-position:10px 6px;
	}
#newDropDownATA dd.sub a:hover,
#newDropDownATA dd.sub a:active {
	}



.iconATA_change,
.iconATA_null,
.iconATA_append,
.iconATA_leave,
.iconATA_override,
.iconATA_inherit,
.iconATA_allow,
.iconATA_deny,
.iconATA_mixed{

	padding: 0;
	width: auto;
	height: auto;
	padding-left: 40px;
	margin-left: 5px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: 3px 2px;
	border: none;
}

.iconATA_null:link,
.iconATA_null:visited {
	background-image:url(../images/icon_ATA_null.gif);
}

.iconATA_change:link,
.iconATA_change:visited {
	background-image:url(../images/icon_ATA_change.gif);
}

.iconATA_append:link,
.iconATA_append:visited {
	background-image:url(../images/icon_ATA_append.gif);
}

.iconATA_leave:link,
.iconATA_leave:visited {
	background-image:url(../images/icon_ATA_leave.gif);
}
.iconATA_override:link,
.iconATA_override:visited{
	background-image:url(../images/icon_Overridden.gif);
}
.iconATA_inherit:link,
.iconATA_inherit:visited{
	background-image:url(../images/icon_Inherited.gif);
}
.iconATA_allow:link,
.iconATA_allow:visited{
	background-image:url(../images/icon_propertyAllow.gif);
	background-position: 4px 3px;
}
.iconATA_deny:link,
.iconATA_deny:visited{
	background-image:url(../images/icon_propertyDeny.gif);
	background-position: 4px 3px;
}
.iconATA_mixed:link,
.iconATA_mixed:visited{
	background-image:url(../images/icon_propertyMixed.gif);
	background-position: 4px 3px;
}
