/*
 * IE7 accomodations for the style sheet for the AssetManager web application.
 */

#contentTable {
	clear:none;
}
.data.priceListSecurity .ataDD{
  margin-left: 0;
}
.divDDATAClass.drop3{
	width: 118px;
}	
.dropdownataPriceListSecurity{
width: 105px;
}
#contentTable {
clear:none;
}
#contentHeaderRight div.currentProject {
  padding-top: 10px;
}
.categoryBoxHelpText {
  padding: 0 0 10px 10px;
}
#searchAddCriteria.buttonSmall{
  padding-left: 2px !important;
}
#saveCreateConfirmDialogFooter {
  line-height: 16px;
}

#assetListHeader select,
#assetListHeader .buttonSmall{
  vertical-align: -4px;
}
.searchCriteriaItem,
#searchExprEditorContainer,
#searchExprEditorPanel{ /* IE7 self-clearing float */
    display: inline-block;
}
#saveCreateConfirmDialogBody {
	height:117px;
}
legend span{
  top: -20px;
}
.calIcon{
  vertical-align:-2px;
}
#filterBy .filterButton{
  vertical-align:-3px;
}
#filterBy .filterLabel{
  vertical-align: 4px;
}
input.formTextField {
  width: auto;
}
.formValueCell input.formTextField {
  width: 96%;
}
.formLabel {
  width: 20%;
}
.exportPropList {
  height: 144px;
}
fieldset fieldset{
  padding: 20px 0;
}
fieldset fieldset .formTable{
  margin: 20px 10px;
}
#importConfirmation fieldset {
  width: 95%;
}
#assetBrowserFooterRight {
  margin-top: 8px;
}