/*
 * IE6 accomodations for the style sheet for the AssetManager web application.
 */

.data.priceListSecurity .ataDD{
  margin-left: 50%;
}
.divDDATAClass.drop3{
	width:108px;
}	
.dropdownataPriceListSecurity{
width: 105px;
}
#contentTable {
clear:none;
}
#contentHeaderRight div.currentProject {
  padding-top: 10px;
}
.categoryBoxHelpText {
  padding: 0 0 10px 10px;
}

#searchExprEditorPanel{
  height: 1%;
  overflow: visible;
}
#searchAddCriteria {
  margin: 5px 0 0 3px !important;
}
.searchCriteriaItem {
  height: 1%;
  overflow: visible;
}
#searchAddCriteria.buttonSmall{
  margin-left: 4px !important;
  padding-left: 2px !important;
}
.searchCriteriaPanel .buttonSmall.find{
  margin-right: 8px !important;
}
#assetListHeader select,
#assetListHeader .buttonSmall{
  vertical-align: -4px;
}
#saveCreateConfirmDialogBody {
	height:117px;
}
#saveCreateConfirmDialogFooter {
  line-height: 16px;
}

#assetPickerSearchExprEditorPanel {
  display: inline-block;
}
legend span{
  top: -20px;
}
.calIcon{
  vertical-align:-2px;
}
#filterBy .filterButton{
  vertical-align:-3px;
}
#filterBy .filterLabel{
  vertical-align: 4px;
}
#importContainer {
  height: 350px;
}
#importConfirmContainer {
  height: 350px;
}
.stepEdit:link,
.stepEdit:visited {
  margin-left: 5px;
}
input.formTextField {
  width: auto;
}
.formValueCell input.formTextField {
  width: 96%;
}
.formLabel {
  width: 150px;
}
.exportPropList {
  height: 144px;
}
fieldset fieldset{
  padding: 20px 0;
}
fieldset fieldset .formTable{
  margin: 20px 10px;
}
#rightPaneHeader {
  height: 52px;
}
#importConfirmation fieldset {
  width: 95%;
}
#assetBrowserFooterRight {
  margin-top: 8px;
}
#assetEditorContainer {
  zoom: 1;
}