/*

Popup Embedded Assistance Widget CSS

*/

div.ATG_EA_popup{
	position: absolute;
	margin: 0;
	padding: 0;
	font-size:1em;
	width:275px;
	border: none;
	z-index: 2000;
}

div.ATG_EA_popup div{
	border:none;
	width: auto;
	background: transparent;
	margin: 0;
	padding: 10px;
	padding: 5px 10px 15px 10px;
	font-weight: bolder;
	min-height: 40px;
}

div.ATG_EA_BL div{
  background-image:url(/WebUI/widget/assistance/images/bl_helpbubble_02.png);
  background-position:left bottom;
  background-repeat:no-repeat;
  margin-top:5px;
  padding:4px 5px 28px 10px;
}
/* IE6 only  use GIF rather than the PNG which has alpha transparencies */
* html div.ATG_EA_BL div{
  background-image:url(/WebUI/widget/assistance/images/bl_helpbubble_02.gif);
}

div.ATG_EA_BL{
	background-image:url(/WebUI/widget/assistance/images/bl_helpbubble_01.png);
  background-position:left top;
  background-repeat:no-repeat;
  padding:0pt;
}
/* IE6 only  use GIF rather than the PNG which has alpha transparencies */
* html div.ATG_EA_BL{
	background-image:url(/WebUI/widget/assistance/images/bl_helpbubble_01.gif);
}

div.ATG_EA_BR div{
  background-image:url(/WebUI/widget/assistance/images/br_helpbubble_02.png);
  background-position:left bottom;
  background-repeat:no-repeat;
  margin-top:5px;
  padding:4px 5px 28px 10px;			
}
/* IE6 only  use GIF rather than the PNG which has alpha transparencies */
* html div.ATG_EA_BR div{
  background-image:url(/WebUI/widget/assistance/images/br_helpbubble_02.gif);
}

div.ATG_EA_BR{
	background-image:url(/WebUI/widget/assistance/images/br_helpbubble_01.png);
  background-position:left top;
  background-repeat:no-repeat;
  padding:0pt;
}
/* IE6 only  use GIF rather than the PNG which has alpha transparencies */
* html div.ATG_EA_BR{
	background-image:url(/WebUI/widget/assistance/images/br_helpbubble_01.gif);
}

div.ATG_EA_TR div{
	background-image:url(/WebUI/widget/assistance/images/tr_helpbubble_02.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}
/* IE6 only  use GIF rather than the PNG which has alpha transparencies */
* html div.ATG_EA_TR div{
	background-image:url(/WebUI/widget/assistance/images/tr_helpbubble_02.gif);
}

div.ATG_EA_TR{
	padding-top:19px;
	background-image:url(/WebUI/widget/assistance/images/tr_helpbubble_01.png);
	background-repeat: no-repeat;
	background-position: top left;
}
/* IE6 only  use GIF rather than the PNG which has alpha transparencies */
* html div.ATG_EA_TR{
	background-image:url(/WebUI/widget/assistance/images/tr_helpbubble_01.gif);
}

div.ATG_EA_TL div{
  background-image:url(/WebUI/widget/assistance/images/tl_helpbubble_02.png);
	background-repeat: no-repeat;
	background-position: bottom left;
}
/* IE6 only  use GIF rather than the PNG which has alpha transparencies */
* html div.ATG_EA_TL div{
  background-image:url(/WebUI/widget/assistance/images/tl_helpbubble_02.gif);
}

div.ATG_EA_TL{
	padding-top:19px;
	background-image:url(/WebUI/widget/assistance/images/tl_helpbubble_01.png);
	background-repeat: no-repeat;
	background-position: top left;
}
/* IE6 only  use GIF rather than the PNG which has alpha transparencies */
* html div.ATG_EA_TL{
	background-image:url(/WebUI/widget/assistance/images/tl_helpbubble_01.gif);
}