<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="*">
    <install xmlns="">
        <product name="CAF" version="10.0.3">
            <configure>false</configure>
        </product>
    </install>
    <systemEnv xmlns="">
        <dynamoRoot>C:\AE10\ATG10.0.3</dynamoRoot>
        <baseLevel>CAF10.0.3_32</baseLevel>
        <rootDir>C:\AE10\ATG10.0.3\CAF10.0.3</rootDir>
    </systemEnv>
</config>
