<STYLE TYPE="text/css">
   LI { }
   B { color: #000000 }
   A:link { color:#3333CC; text-decoration:none }
   A:visited { color:#3333CC; text-decoration:none }
   A:hover { color:#3333CC; text-decoration:underline }
      
   SPAN.big { font-size: 160%; color:#333333 }

   SPAN.little { color:#333333 }
   
   SPAN.small {font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serif }
   SPAN.smallb { font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serrif; font-weight: bold }
   SPAN.smallbw { font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serrif; font-weight: bold ; color : #ffffff}
   SPAN.smallw { font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serrif ; color : #ffffff}
   SPAN.bw { font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color:#ffffff }
   SPAN.specialprice { font-size: 12pt; font-family: Verdana, Arial, Helvetica, sans-serrif; font-weight: bold; color:#ff0000}
   SPAN.specialreg { font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serrif; font-weight: bold; }	
   SPAN.help { font-style: italic; font-size: 8pt}
   SPAN.categoryhead { font-size: 140%; color:#333333 }
   SPAN.cataloghead { font-size: 140%; color : #ffffff }
   SPAN.catalogitem { font-size: 8pt; font-family: Verdana, Arial, Helvetica, sans-serrif; color: #CC6600}
   SPAN.tiny {font-size:75%}
   SPAN.footer { font-size: 80%; color:#ffffff}   
   SPAN.registrationerror {color:#cc0000; font-style: italic}
   SPAN.error {color:#cc0000; font-style: italic}
   SPAN.strikeout {color:#333333; text-decoration: line-through}
   SPAN.cat {color: #ff6633;font-weight : bold}
   SPAN.splash { font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: #ffcc66 }
   
   TD { font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif }
   TD.box-top0 { background-color:#FF9900; color:#FFFFFF; padding-right: 10;
                       padding-left: 10; padding-top: 3px; padding-bottom: 3;
                       font-weight: bold }
   TD.box-top { background-color:#666666; color:#FFFFFF; 
                       font-weight: bold }
   TD.box { background-color:#FF9900; color:#000000; padding: 10 }
   
   BODY { background: #ffffff; color: #000000 }
</STYLE>








