<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>
  <display-name>Document Exchange Gear</display-name>
  <description>Document Exchange Gear</description>

  <context-param>
    <param-name>atg.session.parentContextName</param-name>
    <param-value>/dyn</param-value>
    <description>
      The servlet context of the parent web application.
    </description>
  </context-param>

  <context-param>
    <param-name>atg.dafear.bootstrapContextName</param-name>
    <param-value>/dyn</param-value>
    <description>
      The name of the DAF bootstrap WAR context.
    </description>
  </context-param>

  <context-param>
    <param-name>sessionNameContextServlet</param-name>
    <param-value>SessionNameContextServlet</param-value>
    <description>
      The name of  the servlet for setting up a shared SessionNameContext
      between Web Applications.
    </description>
  </context-param>  

  <!--
       If context-root is set here, then ServletContextWebAppRegistry will use
       this setting as the context-root for this WebApp. This must match
       the context-root setting in application.xml. 
    -->
  <context-param>
    <param-name>context-root</param-name>
    <param-value>/gear/docexch</param-value>
  </context-param>

  <filter>
    <filter-name>IncludeFilter</filter-name>
    <display-name>IncludeFilter</display-name>
    <description>Responsible for security gear contents from outside access.</description>
    <filter-class>atg.portal.servlet.IncludeFilter</filter-class>
    <init-param>
      <param-name>allowedUrlPatterns</param-name>
      <param-value>
        /email/*
        /download/*
        /images/*
        /InstallConfig.jsp
        /InstanceConfig.jsp
        /UserConfig.jsp
      </param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>PageFilter</filter-name>
    <display-name>PageFilter</display-name>
    <description>The DSP Page Filter</description>
    <filter-class>atg.filter.dspjsp.PageFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>PageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>IncludeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>Nucleus</servlet-name>
    <servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>DocumentDownload</servlet-name>
    <servlet-class>atg.portal.gear.docexch.DocumentDownload</servlet-class>

    <init-param>
      <param-name>PublisherName</param-name>
      <param-value>dynamo:/atg/portal/alert/GearMessagePublisher</param-value>
      <description>
        JNDI location of the gear message publisher
      </description>
    </init-param>

    <init-param>
      <param-name>ErrorPage</param-name>
      <param-value>/gear/docexch/Error.jsp</param-value>
      <description>
        The local URL for the page that is shown when an error occurs during
        document download.
      </description>
    </init-param>

    <init-param>
      <param-name>LoggingDebug</param-name>
      <param-value>false</param-value>
      <description>
        Whether or not to log debug info.
      </description>
    </init-param>

    <init-param>
      <param-name>LoggingError</param-name>
      <param-value>true</param-value>
      <description>
        Whether or not to log errorinfo.
      </description>
    </init-param>

  </servlet>

  <servlet-mapping>
    <servlet-name>DocumentDownload</servlet-name>
    <url-pattern>/download/*</url-pattern>
  </servlet-mapping>


  <taglib>
    <taglib-uri>/paf-taglib</taglib-uri>
    <taglib-location>/WEB-INF/pafTaglib1_2.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/core-taglib</taglib-uri>
    <taglib-location>/WEB-INF/coreTaglib1_0.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/dsp</taglib-uri>
    <taglib-location>/WEB-INF/dspjspTaglib1_0.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/jakarta-i18n-1.0</taglib-uri>
    <taglib-location>/WEB-INF/i18n.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/discussion-taglib</taglib-uri>
    <taglib-location>/WEB-INF/discussion-taglib1_0.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/docexch-taglib</taglib-uri>
    <taglib-location>/WEB-INF/docexchTaglib1_0.tld</taglib-location>
  </taglib>
  
</web-app>
<!-- @version $Id: //app/portal/version/10.0.3/docexch/docexch.war/WEB-INF/web.xml#2 $$Change: 651448 $ -->
