a:link
	{ color:#0065CE;
	  text-decoration:none }
a:visited
	{ color:#0065CE;
	  text-decoration:none }
a:active
	{ color:#0065CE;
	  text-decoration:none }
p.atgindex, span.atgindex, div.atgindex
    { font-size: 8pt; 
	  font-family: verdana, arial, helvetica, sans-serif }
span.atgindexlink, div.atgindexlink
    { font-size: 7.5pt; 
	  font-family: verdana, arial, helvetica, sans-serif;
	  color:gray;
	  line-height:95% }
p.atgsearchtip, div.atgsearchtip
    { font-size: 8pt; 
	  font-family: verdana, arial, helvetica, sans-serif;
	  margin-bottom:5pt;
	  line-height:130% }
ul.atgsearchtip
    { font-size: 8pt; 
	  font-family: verdana, arial, helvetica, sans-serif; }
input.atginput
    { font-size: 7.5pt;
	  font-family: verdana, arial, helvetica, sans-serif }