span.atg_messaging_messageBody{
  margin-left:14px;
}
li.atg_messaging_detail span.atg_messaging_title,
li.atg_messaging_detail span.atg_messaging_messageBody{
	margin-left:0px;
}

li.atg_messaging_error{
  background:url(../images/messaging_icons/icon_error.gif) no-repeat 0 6px;      
}

li.atg_messaging_warning{
  background:url(../images/messaging_icons/icon_msgWarning.gif) no-repeat 0px 6px;      
}
li.atg_messaging_missing{
  background:url(../images/messaging_icons/icon_requiredEmpty.gif) no-repeat 0px 6px;
}
li.atg_messaging_information{
  background:url(../images/messaging_icons/icon_msgInformation.gif) no-repeat 0px 6px;      
}
li.atg_messaging_confirm{
  background:url(../images/messaging_icons/icon_msgSuccess.gif) no-repeat 0px 6px;      
}
li.atg_messaging_detail{
  background:url(../images/messaging_icons/bullet.png) no-repeat 10px 11px;      
}

ol.atg_messaging_recentMessages li{
  padding:6px 0 2px 8px;
}
ol.atg_messaging_currentMessage li{
  padding:6px 0 2px 8px;
}
ol.atg_messaging_subMessages li{
  margin-left:0px;
  padding:6px 0 2px 8px;
}

/* Use small icons for IE */
div.atg_messaging_error{
  background:url(../../images/messaging-common/icon_msgError.gif) no-repeat 3px 0px;
}
div.atg_messaging_warning{
  background:url(../../images/messaging-common/icon_msgWarning.gif) no-repeat 6px 0px;
}
div.atg_messaging_confirmation{
  background:url(../../images/messaging-common/icon_msgSuccess.gif) no-repeat 6px 0px;
}
div.atg_messaging_information{
  background:url(../../images/messaging-common/icon_msgInformation.gif) no-repeat 6px 0px;
}
