/********** Message Detail Outer Window - Floating Pane Overrides ***************/

.atg_messaging_detailPane {
	/* essential css */
	position: absolute;
	overflow: visible;		/* so drop shadow is displayed */
	z-index: 10;

	/* styling css */
  border: 1px solid;
  border-color: #738AA5;
	border-top: none;
	padding: 0px 0px 0px 12px;
	background-color: #F0F0F0;
}

/********** Message Detail Title Bar - Floating Pane Overrides ***************/

.atg_messaging_detailPaneTitleBar {
  margin: 0px;
  display: none;
}

/************* Message Detail Client Area - Floating Pane Overrides ***************/

.atg_messaging_detailPaneClient {
	position: relative;
	z-index: 10;
	border: 1px solid;
  border-color: #738AA5;
  border-right: none;
	margin: 0px 0px 2px 0px;
	background-color: #EEE;
	padding: 0px;
	font-family: Verdana, Helvetica, Garamond, sans-serif;
	font-size: 0.9em;
	overflow: auto;
}

/************* Message Detail Resize Bar - Floating Pane Overrides ***************/

.atg_messaging_detailPaneResizebar {
	z-index: 10;
	height: 10px;
	background-color:transparent;
}

/************* Initial Message (if defined) ***************/

.atg_messaging_initialElement {
  background-color:#eee;
  height: 100%;
  padding:2px;
}
