/* Message bar */

.atg_messaging_smallMessageBar img{
	vertical-align: middle;
}

.atg_messaging_errorText,
.atg_messaging_warningText,
.atg_messaging_confirmationText,
.atg_messaging_informationText{
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.atg_messaging_errorText{
	color:#CA0014;
}
.atg_messaging_warningText{
	color:#E9C30A;
}
.atg_messaging_confirmationText{
	color:#348532;
}
.atg_messaging_informationText{
	color:#5690D7;
}
.atg_messaging_errorText:hover, .atg_messaging_errorText:active,
.atg_messaging_warningText:hover, .atg_messaging_warningText:active,
.atg_messaging_confirmationText:hover, .atg_messaging_confirmationText:active,
.atg_messaging_informationText:hover, .atg_messaging_informationText:active,
.atg_messaging_detailLink:hover, .atg_messaging_detailLink:active{
    text-decoration: underline;
}
.atg_messaging_errorIcon,
.atg_messaging_warningIcon,
.atg_messaging_confirmationIcon,
.atg_messaging_informationIcon,{
  cursor: pointer;
}
.atg_messaging_errorIcon{
	background: url(../../images/messaging-common/icon_msgError_drk.gif) no-repeat;
}
.atg_messaging_warningIcon{
	background: url(../../images/messaging-common/icon_msgWarning_drk.gif) no-repeat;
	color:#E9C30A;
}
.atg_messaging_confirmationIcon{
	background: url(../../images/messaging-common/icon_msgSuccess_drk.gif) no-repeat;
	color:#348532;
}
.atg_messaging_informationIcon{
	background: url(../../images/messaging-common/icon_msgInformation_drk.gif) no-repeat;
	color:#5690D7;
}
.atg_messaging_detailToggler{
  cursor: default;
}
.atg_messaging_detailLink:link, .atg_messaging_detailLink:visited{
  color: #004080;
  cursor: pointer;
  text-decoration: none;
}

