div.atg_messaging_currentMessages{
  margin:0px 0px 0px 0px;
  padding:0px;
  background-color:#fff;
  border-style:solid;
  border-color:#ccc;
  border-width:0px 0px 1px 0px;
}
div.atg_messaging_recentMessages{
  margin:0 0px 0 0px;
  padding:0;
  background-color:#eee;
}
div.atg_messaging_recentMessages ol{
  list-style-type:none;
  margin-top:0px;
  margin-left:-2px;
  margin-bottom:0px;
  padding:3px 0 3px 0;
  border-bottom:1px solid #ccc;
}
div.atg_messaging_recentMessages ol.atg_messaging_subMessages{
  border-bottom:none;
}
