/* Small message bar */
div.atg_messaging_smallMessageBar{
  cursor:pointer;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0px;
  display:inline;
  padding:6px 18px 6px 22px;
}
a.atg_messaging_smallMessageBar{
  cursor:pointer;
  position:absolute;
}
div.atg_messaging_error{
  background:url(../../images/messaging-common/icon_msgError.gif) no-repeat 11px 4px;
  padding-left:26px;
  color:#ce2300;
}
div.atg_messaging_warning{
  background:url(../../images/messaging-common/icon_msgWarning.gif) no-repeat 11px 40px;
  padding-left:30px;
  color:#eac106;
}
div.atg_messaging_confirmation{
  background:url(../../images/messaging-common/icon_msgSuccess.gif) no-repeat 11px 4px;
  padding-left:30px;
  color: #066d00;
}
div.atg_messaging_information{
  background:url(../../images/messaging-common/icon_msgInformation.gif) no-repeat 11px 4px;
  padding-left:30px;
  color: #5591D8;
}
