/* Dialog */

#previewContent{
  display: none;
}

#previewButton{
  visibility: hidden;
}

#previewAsButton{
  visibility: hidden;
}

.atg_previewPicker {
  position: absolute;
  z-index: 999;
  padding: 1px;
}

.dijitDialogUnderlayWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 998;
  display: none;
  background: transparent;
}

.appletKiller .appletHome{
  visibility: hidden;
}

.dijitDialogUnderlay {
  background: #fff;
  opacity: 0.6;
}

.dj_ie .dijitDialogUnderlay {
  filter: alpha(opacity=50);
}

/* images off, high-contrast mode styles */
.dijit_a11y .dijitDialog {
  opacity: 1 !important;
  background-color: white !important;
}

.dijitBackgroundIframe {
  /*
   * iframe used for FF2 in high-contrast mode to prevent menu
   * being transparent
   */
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 0;
  padding: 0;
  margin: 0;
}


.atg_previewPicker{
  width: 750px;
  padding: 0px;
  border: 1px solid #42596C;
  background: #C3D2E8;
}

.atg_previewPicker div{
  padding: 0;
}

#ppHeader{
  height: 20px;
  font-size: 1.5em;
  background: url('images/header.gif') repeat-x bottom left;
  color: #FFF;
  font-weight: bold;
  padding: 4px;
  margin-bottom: 3px;
}

#ppCloser{
  display: block;
  float: right;
  background: url('images/closeIcon.gif') no-repeat top left;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -100px;
}

#ppFooter{
  margin-top: 6px;
  overflow: hidden;
  padding: 4px 0 4px 4px;
  border: none; 
  border-bottom: none !important;
  background: url('images/footer.gif') repeat-x top left;
  background-color: #CBCBCB;
}

/* Bug Fixed: 152724 */
* html #ppFooter{
  height: 60px;
}

#ppFooter h3{
  font-size: 1.3em;
  font-weight: normal;
  margin: 0px 0 2px 0px;
  padding: 0;
  color: #434343;
}

#ppFooter .submit{
  float: right;
  margin-top: 14px;
  margin-right: 4px;

}

#ppPicker{
  height: 250px;
  clear: left;
  background: #fff;
  background-image: url('images/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
}

#ppPicker em{
  display: block;
  margin: 4px !important;
  padding: 10px 10px 10px 35px;

}

#ppChosen{
  margin: 0;
  float: left;
  display: block;
  height: 100%;
  width: 70%;
  border-bottom: none;
  
}

#ppChosen span{
  width: 85px;
  /*text-align: right;*/
  padding-right: 5px;
  float: left;
}


#ppChosen div{
  color: white;
  padding: 4px;
  border-bottom: none;
  color: #666;
}


#ppChosen em{
  color: #000;
  font-weight: bolder;
  font-size: 1em;
  padding: 5px 0 5px 0;
  width: 200px;
  overflow: hidden;
}

#ppPicker ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  overflow: auto;
  height: 100%;
  float: left;
  width: 243px;
  margin: 0 0 0 3px;
  background: #fff;
  border: 1px solid #5A666F;
}

#ppURLList li{
  border-left: 1px solid #000;
}

#ppPicker li div{
  display: block;
  padding: 3px;
  border-bottom: 1px solid #545454;
  padding-left: 17px;
  overflow: hidden;
  background: url('images/bullet_green.png') no-repeat center left;
  cursor: pointer  
}

#ppPicker li div.assetSpecific{
  background: url('images/bullet_star.png') no-repeat center left;
  background-color: #FFFFA9;
}

#ppPicker li div.selected{
background-color: #7D91C4;
color: #2C2F39; 
}

#ppPicker li div.selected:hover{
background-color: #7D91C4;
color: #000;  
}


#ppPicker li.asspec div{
  background: #8890BA;
}


#ppPicker li div:hover{
  background-color: #C4CCDB;
}