<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>Authentication</display-name>
  <description>User registration and login pages.</description>

  <!-- Context Parameters                                             -->
  <!--                                                                -->
  <!--                                                                -->

  <!-- DAF context name                                               -->
  <!--                                                                -->
  <!--                                                                -->
  <context-param>
    <param-name>atg.session.parentContextName</param-name>
    <param-value>/dyn</param-value>
    <description>The name of the DAF context.</description>
  </context-param>
  <context-param>
    <param-name>atg.dafear.bootstrapContextName</param-name>
    <param-value>/dyn</param-value>
    <description>
      The name of the DAF bootstrap WAR context.
    </description>
  </context-param>

  <!--
       If context-root is set here, then ServletContextWebAppRegistry will use
       this setting as the context-root for this WebApp. This must match
       the context-root setting in application.xml. 
    -->
  <context-param>
    <param-name>context-root</param-name>
    <param-value>/portal/authentication</param-value>
  </context-param>


  <!-- Dynamo Server Page Filter                                      -->
  <!--                                                                -->
  <!-- This filter invokes the dynamo application framework           -->
  <!-- servlet pipeline.                                              -->
  <filter>
    <filter-name>DynamoServerPageFilter</filter-name>
    <display-name>DynamoServerPageFilter</display-name>
    <description>This filter invokes the dynamo application framework servlet pipeline.</description>
    <filter-class>atg.filter.dspjsp.PageFilter</filter-class>
  </filter>

  <!-- Filter Mappings                                                -->
  <!--                                                                -->
  <!--                                                                -->
  <filter-mapping>
    <filter-name>DynamoServerPageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Servlets                                                       -->
  <!--                                                                -->
  <!--                                                                -->
  
  <!-- NucleusServlet                                                 -->
  <!--                                                                -->
  <!-- This servlet initializes nucleus                               -->
  <servlet>
    <servlet-name>NucleusServlet</servlet-name>
    <display-name>NucleusServlet</display-name>
    <description>Initializes nucleus in the current web application.</description>
    <servlet-class>atg.nucleus.servlet.NucleusServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Taglibs                                                    -->
  <!--                                                            -->
  <!--                                                            -->
  <taglib>
    <taglib-uri>/paf-taglib</taglib-uri>
    <taglib-location>/WEB-INF/pafTaglib1_2.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/core-taglib</taglib-uri>
    <taglib-location>/WEB-INF/coreTaglib1_0.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/dsp</taglib-uri>
    <taglib-location>/WEB-INF/dspjspTaglib1_0.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/jakarta-i18n-1.0</taglib-uri>
    <taglib-location>/WEB-INF/i18n.tld</taglib-location>
  </taglib>

</web-app>
<!-- @version $Id: //app/portal/version/10.0.3/authentication/auth.war/inf/web.xml#2 $$Change: 651448 $ -->
