<span style="float:${cssfloat};position:relative;">
  <span dojoAttachEvent="onclick: barClick" dojoAttachPoint="iconNode" style="display:none;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  &nbsp;
  <a dojoAttachEvent="onclick: barClick" dojoAttachPoint="messageNode" href="#" style="display:none;"></a>
  <span dojoAttachPoint="detailLinkContainerNode" class="atg_messaging_detailToggler" style="display:none;">
    &nbsp;
    [<a class="atg_messaging_detailLink" dojoAttachEvent="onclick: barClick" dojoAttachPoint="detailLinkNode" href="#">Show 0 Details</a>]
  </span>
</span>
