div.atg_messaging_messageList{
  background-color:#fff;
  border:1px solid #999;
  width:400px;
  height:200px;
  position:absolute;
  z-index:10;
  overflow:auto;
}
div.atg_messaging_currentMessageList{
  background-color:#fff;
  border:2px solid #999;
  height:auto;
  right: 15px !important;
  left: auto !important;
}

div.atg_messaging_currentMessages{
  margin:0px 0px 0px 0px;
  padding:0px;
  background-color:#fff;
  border-style:solid;
  border-color:#ccc;
  border-width:0px 0px 1px 0px;
}
div.atg_messaging_recentMessages{
  margin:0 0px 0 0px;
  padding:0;
  background-color:#eee;
}
div.atg_messaging_recentMessages ol{
  list-style-type:none;
  margin-top:0px;
  margin-left:-2px;
  margin-bottom:0px;
  padding:3px 0 3px 0;
  border-bottom:1px solid #ccc;
}
div.atg_messaging_recentMessages ol.atg_messaging_subMessages{
  border-bottom:none;
}
/* Message bar */

.atg_messaging_smallMessageBar img{
	vertical-align: middle;
}

.atg_messaging_errorText,
.atg_messaging_warningText,
.atg_messaging_confirmationText,
.atg_messaging_informationText{
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.atg_messaging_errorText{
	color:#CA0014;
}
.atg_messaging_warningText{
	color:#E9C30A;
}
.atg_messaging_confirmationText{
	color:#348532;
}
.atg_messaging_informationText{
	color:#5690D7;
}
.atg_messaging_errorText:hover, .atg_messaging_errorText:active,
.atg_messaging_warningText:hover, .atg_messaging_warningText:active,
.atg_messaging_confirmationText:hover, .atg_messaging_confirmationText:active,
.atg_messaging_informationText:hover, .atg_messaging_informationText:active,
.atg_messaging_detailLink:hover, .atg_messaging_detailLink:active{
    text-decoration: underline;
}
.atg_messaging_errorIcon,
.atg_messaging_warningIcon,
.atg_messaging_confirmationIcon,
.atg_messaging_informationIcon,{
  cursor: pointer;
}
.atg_messaging_errorIcon{
	background: url(../../images/messaging-common/icon_msgError_drk.gif) no-repeat;
}
.atg_messaging_warningIcon{
	background: url(../../images/messaging-common/icon_msgWarning_drk.gif) no-repeat;
	color:#E9C30A;
}
.atg_messaging_confirmationIcon{
	background: url(../../images/messaging-common/icon_msgSuccess_drk.gif) no-repeat;
	color:#348532;
}
.atg_messaging_informationIcon{
	background: url(../../images/messaging-common/icon_msgInformation_drk.gif) no-repeat;
	color:#5690D7;
}
.atg_messaging_detailToggler{
  cursor: default;
}
.atg_messaging_detailLink:link, .atg_messaging_detailLink:visited{
  color: #004080;
  cursor: pointer;
  text-decoration: none;
}
/* Message bar */

.atg_messaging_smallMessageBar img{
	vertical-align: middle;
}

.atg_messaging_errorText,
.atg_messaging_warningText,
.atg_messaging_confirmationText,
.atg_messaging_informationText{
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}
.atg_messaging_errorText{
	color:#CA0014;
}
.atg_messaging_warningText{
	color:#E9C30A;
}
.atg_messaging_confirmationText{
	color:#348532;
}
.atg_messaging_informationText{
	color:#5690D7;
}
.atg_messaging_errorText:hover, .atg_messaging_errorText:active,
.atg_messaging_warningText:hover, .atg_messaging_warningText:active,
.atg_messaging_confirmationText:hover, .atg_messaging_confirmationText:active,
.atg_messaging_informationText:hover, .atg_messaging_informationText:active,
.atg_messaging_detailLink:hover, .atg_messaging_detailLink:active{
    text-decoration: underline;
}
.atg_messaging_errorIcon,
.atg_messaging_warningIcon,
.atg_messaging_confirmationIcon,
.atg_messaging_informationIcon,{
  cursor: pointer;
}
.atg_messaging_errorIcon{
	background: url(../../images/messaging-common/icon_msgError_drk.gif) no-repeat;
}
.atg_messaging_warningIcon{
	background: url(../../images/messaging-common/icon_msgWarning_drk.gif) no-repeat;
	color:#E9C30A;
}
.atg_messaging_confirmationIcon{
	background: url(../../images/messaging-common/icon_msgSuccess_drk.gif) no-repeat;
	color:#348532;
}
.atg_messaging_informationIcon{
	background: url(../../images/messaging-common/icon_msgInformation_drk.gif) no-repeat;
	color:#5690D7;
}
.atg_messaging_detailToggler{
  cursor: default;
}
.atg_messaging_detailLink:link, .atg_messaging_detailLink:visited{
  color: #004080;
  cursor: pointer;
  text-decoration: none;
}

span.atg_messaging_title{
  display:block;
  padding-bottom:0;
  padding-left:-3px;
  margin-left:-3px;
}

/* General icons for the message items */

li.atg_messaging_error{
  background:url(../../images/messaging-common/icon_msgError.gif) no-repeat 0 5px;    
}
li.atg_messaging_warning{
  background:url(../../images/messaging-common/icon_msgWarning.gif) no-repeat 0px 5px;
}
li.atg_messaging_information{
  background:url(../../images/messaging-common/icon_msgInformation.gif) no-repeat 0px 5px;  
}
li.atg_messaging_confirmation{
  background:url(../../images/messaging-common/icon_msgSuccess.gif) no-repeat 0px 5px;
}

/* Specific Coloring for the current messages, recent ones retain the dafult text coloring */

.atg_messaging_currentMessage li.atg_messaging_error .atg_messaging_title{
	color:#CA0014;
	font-weight: bold;
}
.atg_messaging_currentMessage li.atg_messaging_warning .atg_messaging_title{
	color:#E9C30A;
	font-weight: bold;
}
.atg_messaging_currentMessage li.atg_messaging_information .atg_messaging_title{
	color:#5690D7;
	font-weight: bold;
}
.atg_messaging_currentMessage li.atg_messaging_confirmation .atg_messaging_title{
	color:#348532;
	font-weight: bold;
}

/* overwrite color and weight for the sub bug details, because they use the same template we need to specify depth of LI's */

.atg_messaging_currentMessage li li{
	color: #545454;
	font-weight: normal;
}


ol.atg_messaging_currentMessage{
  margin-top:5px;
}
ol.atg_messaging_currentMessage,    
ol.atg_messaging_recentMessages{
  list-style-type:none;
  list-style-position:outside;
  padding-left:0;
  margin-left:0;
}
ol.atg_messaging_currentMessage{
  margin-top:0px;
}

li.atg_messaging_bullet span.atg_messaging_title{
	margin-left:0px;
}
ol.atg_messaging_subMessages{
  list-style-type:none;
  list-style-position:outside;
  padding-left:0;
  margin-left:0;
}
ol.atg_messaging_subMessages li{
  margin-left:-10px;
  padding:6px 0 2px 23px;
}
ol.atg_messaging_recentMessages li{
  padding:6px 0 2px 23px;
  margin-left:7px;            
}
ol.atg_messaging_currentMessage li{
  padding:6px 0 2px 23px;
  margin-left:6px;
}
li.atg_messaging_bullet{
  background:url(../../images/messaging-common/icon_bullet.png) no-repeat 10px 10px;
}
ol.atg_messaging_recentMessages li.atg_messaging_bullet{
  background:url(../../images/messaging-common/icon_bullet.png) no-repeat 10px 10px;
  border-bottom:none;
}
/********** Message Detail Outer Window - Floating Pane Overrides ***************/

.atg_messaging_detailPane {
	/* essential css */
	position: absolute;
	overflow: visible;		/* so drop shadow is displayed */
	z-index: 10;

	/* styling css */
  border: 1px solid;
  border-color: #738AA5;
	border-top: none;
	padding: 0px;
	background-color: #F0F0F0;
	top:25px;
	width:350px;
	max-height:300px;
	overflow:auto;
	right:15px !important;
	left: auto !important;
}

/********** Message Detail Title Bar - Floating Pane Overrides ***************/

.atg_messaging_detailPaneTitleBar {
  margin: 0px;
  display: none;
}

/************* Message Detail Client Area - Floating Pane Overrides ***************/

.atg_messaging_detailPaneClient {
	position: relative;
	z-index: 10;
	margin: 0px;
	background-color: #EEE;
	padding: 0px;
	font-family: Verdana, Helvetica, Garamond, sans-serif;
	font-size: 0.9em;
	overflow: auto;
}

/************* Message Detail Resize Bar - Floating Pane Overrides ***************/

.atg_messaging_detailPaneResizebar {
	z-index: 10;
	height: 10px;
	background-color:transparent;
}

/************* Initial Message (if defined) ***************/

.atg_messaging_initialElement {
  background-color:#eee;
  height: 100%;
  padding:2px;
}
/* Small message bar */
div.atg_messaging_smallMessageBar{
  cursor:pointer;
  font-weight:bold;
  margin-top:0;
  margin-bottom:0px;
  display:inline;
  padding:6px 18px 6px 22px;
width: 200px;
}
a.atg_messaging_smallMessageBar{
  cursor:pointer;
  position:absolute;
}
div.atg_messaging_error{
  background:url(../../images/messaging-common/icon_msgError.gif) no-repeat 0px 6px;
  color:#ce2300;
}
div.atg_messaging_warning{
  background:url(../../images/messaging-common/icon_msgWarning.gif) no-repeat 0px 6px;
  color:#eac106;
}
div.atg_messaging_confirmation{
  background:url(../../images/messaging-common/icon_msgSuccess.gif) no-repeat 0px 6px;
  color: #066d00;
}
div.atg_messaging_information{
  background:url(../../images/messaging-common/icon_msgInformation.gif) no-repeat 0px 7px;
  color: #5591D8;
}

