BODY.popup{
  background-color: #FFF;
  background-image: none;
  border: none;
  font-size: 75%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

BODY.popup p{
  padding-bottom: 13px;
  text-align: left;
}
#assetBrowserHeader {
  background-image: url(../images/bg/asset_back_top.jpg);
  border-bottom: solid 1px #A6A5A5;
  padding: 3px 0 0 15px;
  text-align: left;
  height: 35px;

}

#assetBrowserHeader H2 {
  color: #666;
  margin-bottom: 0px;
  margin-top: 13px;
  font-size: 16px;
  background: transparent;
}

#nonTableContent {
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 15px;
  padding-bottom: 0px;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
  margin: 0px;
}

#nonTableContent.noborder {
  border: 0;
}

#nonTableContent P {
  font-size: .9em;
  color: #545454;
}
H2.seperate {
  border-bottom: 1px dotted #999;
  margin: 12px 0 8px 0;
  font-size: 1em;
  padding-left: 0;
}