.atg_messaging_emptyIndicator{
  visibility: visible;
}
.atg_messaging_missingIndicator,
.atg_messaging_requiredIndicator,
.atg_messaging_invalidIndicator,
.atg_messaging_outOfRangeIndicator,
.atg_messaging_sumIndicator,
.atg_messaging_totalIndicator{
  padding-left: 20px;
  background-repeat: no-repeat;
  visibility: visible;
}
.atg_messaging_missingIndicator{
  background-image: url(../../images/messaging-common/icon_requiredEmpty.gif);
}
.atg_messaging_requiredIndicator{
  background-image: url(../../images/messaging-common/icon_requiredFilled.gif);
}
.atg_messaging_invalidIndicator{
  background-image: url(../../images/messaging-common/icon_msgWarningSmall.gif);
}
.atg_messaging_outOfRangeIndicator{
  background-image: url(../../images/messaging-common/icon_error.gif);
}
.atg_messaging_sumIndicator{
  background-image: url(../../images/messaging-common/icon_sum.gif);
}
.atg_messaging_totalIndicator{
  background-image: url(../../images/messaging-common/icon_equals.gif);
}
