<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="*">
    <install xmlns="">
        <product name="ATG Store" version="10.0.3">
            <configure>false</configure>
        </product>
    </install>
    <systemEnv xmlns="">
        <dynamoRoot>C:\AE10\ATG10.0.3</dynamoRoot>
        <baseLevel>CommerceReferenceStore10.0.3_29</baseLevel>
        <rootDir>C:\AE10\ATG10.0.3\CommerceReferenceStore</rootDir>
    </systemEnv>
</config>
