.nodeCut {
  color: #999999;
  border: 1px solid Red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: hand;
  cursor: pointer;
}

.nodeCopy {
  color: #000000;
  border: 1px solid Green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  cursor: hand;
  cursor: pointer;
}

.termDictionaryIcon{
  background-image: url(../images/tree/icon_termDictionary.gif);
  width: 16px;
  height: 16px;
}

.termIcon{
  background-image: url(../images/tree/icon_term.gif);
  width: 16px;
  height: 16px;
}

.indexedFacetIcon,
.facetIcon{
  background-image: url(../images/tree/icon_facet.gif);
  width: 16px;
  height: 16px;
}

.indexedFacetSetIcon, 
.facetSetIcon{
  background-image: url(../images/tree/icon_facetSet.gif);
  width: 16px;
  height: 16px;
}

.queryRuleSetIcon{
  background-image: url(../images/tree/icon_queryRuleSet.gif);
  width: 16px;
  height: 16px;
}

.queryRuleGroupIcon{
  background-image: url(../images/tree/icon_queryRuleGroup.gif);
  width: 16px;
  height: 16px;
}

.queryRuleIcon{
  background-image: url(../images/tree/icon_queryRule.gif);
  width: 16px;
  height: 16px;
}

.TopicSetIcon{
  background-image: url(../images/tree/icon_topicSet.gif);
  width: 16px;
  height: 16px;
}

.TopicIcon{
  background-image: url(../images/tree/icon_topic.gif);
  width: 16px;
  height: 16px;
}

.indexTpoNodeIcon{
  background-image: url(../images/tree/icon_searchProject_blue.gif);
  width: 16px;
  height: 16px;
}

.contentTpoNodeIcon{
  background-image: url(../images/tree/icon_searchProject_purple.gif);
  width: 16px;
  height: 16px;
}

.indexIcon{
  background-image: url(../images/tree/icon_options_blue.gif);
  width: 16px;
  height: 16px;
}

.contentIcon{
  background-image: url(../images/tree/icon_options_purple.gif);
  width: 16px;
  height: 16px;
}

.termWeightSetIcon{
  background-image: url(../images/tree/icon_TermWeightSet.gif);
  width: 16px;
  height: 16px;
}