
body { font-family: arial, sans-serif; }

table.truetable {  border-style:1; }
td { border-style:none;}
th { background-color: #E0FFE0;  border-style:none;}

tr.odd td { background-color: #EEEEFF; } 

a { color: #000099; }
